
<div>
	<p>Congratulations! Your payment has been processed and your <b>Faith Block</b> is now <b>LIVE!</b></p>

<p>Attached to this email is your special <b>Certificate of Recognition.</b> You will need Adobe Acrobat in
order to open this file. You can download this application <a href="http://www.adobe.com/"> here</a>. If you are already
capable of printing a pdf - you will not need to download this application.</p>

<p>Once the document is open print your Certificate of Recognition on an 8 1/2 x 11 sheet of paper of
your choice, fill in the blank space, trim it to the appropriate size, place it in a frame and display it
proudly.</p>

<p>Don't forget to drop by the site from time to time and check in on our progress. And please tell your
friends!</p>

<p>Thank you so much for supporting this effort.</p>

<p>God Bless!</p>
	
	
</div>
