<link href='/static/forms/client/css/1835473341-formview_ltr.css' type='text/css' rel='stylesheet'>
<style type="text/css">

    body {
        background: #fffbef url('//themes.googleusercontent.com/image?id=1a0AeDLTHbl0veIcjLG7wyMEOtSe8L5jsDMsuV_d1_xFhDH5Ki5qyGKxBPm30vy7v3vIh');
        color: #28642e;
        font-family: Molengo,'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
        padding: 0;
    }
    input, select, textarea {
        font-family: Tahoma,Arial,serif;
        font-size: 13px;
    }
    a {
        color: #34798d;
    }
    div.ss-form-container {
        background: #fffbef;
        border: 1px solid #28642e;
        font-size: 14px;
        line-height: 18px;
        margin: 0 auto;
        max-width: 920px;
        padding: 20px;
        width: 80%;
    }
    div.ss-form-heading {
        margin: 0 0 20px;
    }
    h1, h2 {
        font-family: 'Josefin Sans Std Light';
        font-weight: normal;
    }
    h1.ss-form-title {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
    .ss-required-asterisk {
        color: #bc3611;
    }
    div.errorbox-bad {
        background: none;
        border: none;
        padding: 0;
    }
    div.errorheader, div.errorbox-bad .ss-form-entry {
        background: none;
        border: 2px solid #bc3611;
        border-radius: 5px;
        color: #bc3611;
        padding: 5px;
    }
    div.ss-section-header, div.ss-page-break {
        margin: 15px 0;
        padding: 0;
    }
    h2.ss-section-title, h2.ss-page-title {
        background: none;
        border-bottom: 1px dashed #abc84d;
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 5px;
        padding: 0 0 5px;
    }
    td.ss-scalenumbers, td.ss-scalerow, td.ss-gridnumbers, td.ss-gridrow, tr.ss-grid-row-odd, tr.ss-grid-row-even {
        border-color: #abc84d;
    }
    tr.ss-grid-row-odd {
        background: #fbffef;
    }
    tr.ss-grid-row-even {
        background: #fffbef;
    }
    label.ss-q-help {
        color: #999;
    }
    td.ss-scalenumbers, td.ss-scalerow, td.ss-leftlabel, td.ss-rightlabel, label.ss-gridnumber, span.ss-powered-by, .ss-powered-by a:link, .ss-powered-by a:visited, span.ss-terms {
        color: #28642e;
    }

</style>

<script type="text/javascript">
    /**
     * @license
     *! H5F
     * https://github.com/ryanseddon/H5F/
     * Copyright (c) Ryan Seddon | Licensed MIT
     */

    (function(e,t){"function"==typeof define&&define.amd?define(t):e.H5F=t()})(this,function(){var e,t,a,i,n,r,s,l,u,o,c,d,v,f,p,m,h,g,b,y,w,C,N,A,E,$,k=document,x=k.createElement("input"),q=/^[a-zA-Z0-9.!#$%&'*+-\/=?\^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,M=/[a-z][\-\.+a-z]*:\/\//i,L=/^(input|select|textarea)$/i;return r=function(e,t){var a=!e.nodeType||!1,i={validClass:"valid",invalidClass:"error",requiredClass:"required",placeholderClass:"placeholder"};if("object"==typeof t)for(var r in i)t[r]===void 0&&(t[r]=i[r]);if(n=t||i,a)for(var l=0,u=e.length;u>l;l++)s(e[l]);else s(e)},s=function(a){var i,n=a.elements,r=n.length,s=!!a.attributes.novalidate;if(b(a,"invalid",u,!0),b(a,"blur",u,!0),b(a,"input",u,!0),b(a,"keyup",u,!0),b(a,"focus",u,!0),b(a,"change",u,!0),b(a,"click",o,!0),b(a,"submit",function(i){e=!0,t||s||a.checkValidity()||w(i)},!1),!v())for(a.checkValidity=function(){return c(a)};r--;)i=!!n[r].attributes.required,"fieldset"!==n[r].nodeName.toLowerCase()&&l(n[r])},l=function(e){var t=e,a=g(t),n={type:t.getAttribute("type"),pattern:t.getAttribute("pattern"),placeholder:t.getAttribute("placeholder")},r=/^(email|url)$/i,s=/^(input|keyup)$/i,l=r.test(n.type)?n.type:n.pattern?n.pattern:!1,u=f(t,l),o=m(t,"step"),v=m(t,"min"),h=m(t,"max"),b=!(""===t.validationMessage||void 0===t.validationMessage);t.checkValidity=function(){return c.call(this,t)},t.setCustomValidity=function(e){d.call(t,e)},t.validity={valueMissing:a,patternMismatch:u,rangeUnderflow:v,rangeOverflow:h,stepMismatch:o,customError:b,valid:!(a||u||o||v||h||b)},n.placeholder&&!s.test(i)&&p(t)},u=function(e){var t=C(e)||e,a=/^(input|keyup|focusin|focus|change)$/i,r=/^(submit|image|button|reset)$/i,s=/^(checkbox|radio)$/i,o=!0;!L.test(t.nodeName)||r.test(t.type)||r.test(t.nodeName)||(i=e.type,v()||l(t),t.validity.valid&&(""!==t.value||s.test(t.type))||t.value!==t.getAttribute("placeholder")&&t.validity.valid?(A(t,[n.invalidClass,n.requiredClass]),N(t,n.validClass)):a.test(i)?t.validity.valueMissing&&A(t,[n.requiredClass,n.invalidClass,n.validClass]):t.validity.valueMissing?(A(t,[n.invalidClass,n.validClass]),N(t,n.requiredClass)):t.validity.valid||(A(t,[n.validClass,n.requiredClass]),N(t,n.invalidClass)),"input"===i&&o&&(y(t.form,"keyup",u,!0),o=!1))},c=function(t){var a,i,n,r,s=!1;if("form"===t.nodeName.toLowerCase()){a=t.elements;for(var l=0,o=a.length;o>l;l++)i=a[l],n=!!i.attributes.required,r=!!i.attributes.pattern,"fieldset"!==i.nodeName.toLowerCase()&&(n||r&&n)&&(u(i),i.validity.valid||s||(e&&i.focus(),s=!0));return!s}return u(t),t.validity.valid},d=function(e){var t=this;t.validationMessage=e},o=function(e){var a=C(e);a.attributes.formnovalidate&&"submit"===a.type&&(t=!0)},v=function(){return E(x,"validity")&&E(x,"checkValidity")},f=function(e,t){if("email"===t)return!q.test(e.value);if("url"===t)return!M.test(e.value);if(t){var i=e.getAttribute("placeholder"),n=e.value;return a=RegExp("^(?:"+t+")$"),n===i?!1:""===n?!1:!a.test(e.value)}return!1},p=function(e){var t={placeholder:e.getAttribute("placeholder")},a=/^(focus|focusin|submit)$/i,r=/^(input|textarea)$/i,s=/^password$/i,l=!!("placeholder"in x);l||!r.test(e.nodeName)||s.test(e.type)||(""!==e.value||a.test(i)?e.value===t.placeholder&&a.test(i)&&(e.value="",A(e,n.placeholderClass)):(e.value=t.placeholder,b(e.form,"submit",function(){i="submit",p(e)},!0),N(e,n.placeholderClass)))},m=function(e,t){var a=parseInt(e.getAttribute("min"),10)||0,i=parseInt(e.getAttribute("max"),10)||!1,n=parseInt(e.getAttribute("step"),10)||1,r=parseInt(e.value,10),s=(r-a)%n;return g(e)||isNaN(r)?"number"===e.getAttribute("type")?!0:!1:"step"===t?e.getAttribute("step")?0!==s:!1:"min"===t?e.getAttribute("min")?a>r:!1:"max"===t?e.getAttribute("max")?r>i:!1:void 0},h=function(e){var t=!!e.attributes.required;return t?g(e):!1},g=function(e){var t=e.getAttribute("placeholder"),a=/^(checkbox|radio)$/i,i=!!e.attributes.required;return!(!i||""!==e.value&&e.value!==t&&(!a.test(e.type)||$(e)))},b=function(e,t,a,i){E(window,"addEventListener")?e.addEventListener(t,a,i):E(window,"attachEvent")&&window.event!==void 0&&("blur"===t?t="focusout":"focus"===t&&(t="focusin"),e.attachEvent("on"+t,a))},y=function(e,t,a,i){E(window,"removeEventListener")?e.removeEventListener(t,a,i):E(window,"detachEvent")&&window.event!==void 0&&e.detachEvent("on"+t,a)},w=function(e){e=e||window.event,e.stopPropagation&&e.preventDefault?(e.stopPropagation(),e.preventDefault()):(e.cancelBubble=!0,e.returnValue=!1)},C=function(e){return e=e||window.event,e.target||e.srcElement},N=function(e,t){var a;e.className?(a=RegExp("(^|\\s)"+t+"(\\s|$)"),a.test(e.className)||(e.className+=" "+t)):e.className=t},A=function(e,t){var a,i,n="object"==typeof t?t.length:1,r=n;if(e.className)if(e.className===t)e.className="";else for(;n--;)a=RegExp("(^|\\s)"+(r>1?t[n]:t)+"(\\s|$)"),i=e.className.match(a),i&&3===i.length&&(e.className=e.className.replace(a,i[1]&&i[2]?" ":""))},E=function(e,t){var a=typeof e[t],i=RegExp("^function|object$","i");return!!(i.test(a)&&e[t]||"unknown"===a)},$=function(e){for(var t=document.getElementsByName(e.name),a=0;t.length>a;a++)if(t[a].checked)return!0;return!1},{setup:r}});

</script>

<div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">&quot;My Faith Shines&quot; Sign Up Form</h1>
  <div class="ss-form-desc ss-no-ignore-whitespace">Welcome and thank you for supporting the &quot;My Faith Shines&quot; project, bringing you the faith-based, feature film &quot;Born to Overcome&quot;, a story about a deeply faithful social worker who taps into his childhood experiences of racial prejudice, family dysfunction and a severe learning disability, to help an at‐risk teen and the boy&#39;s family cope with the consequences of a recent tragedy. Inspired by actual events, &quot;Born to Overcome&quot; (<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.borntoovercome.net&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFJRYWNXfO-Y5n0JzggTe9ZOkmYUQ">www.borntoovercome.net</a>) will be shot in Indianapolis, IN and Portland, OR by accomplished and award‐winning filmmakers. <p>Your contribution today affords you the opportunity to screen &quot;Born to Overcome&quot; in your community, as a fundraiser, and you keep 100% of the proceeds.* In addition, you will receive a page on the &quot;My Faith Shines&quot; website, where your members can build 500 FREE Faith Blocks and share with the world how the lord has touched their lives. This is a unique and fun way to engage your members or connect with other individuals in your community. <p>Once your organization joins our effort, Tinted Glass Films will build a page for your organization on the &quot;My Faith Shines&quot; website and mail you 500 Faith Block Tickets containing a code, that can each be redeemed for one Faith Block on your organization&#39;s page. Your &quot;My Faith Shines&quot; page will display your logo, a link to your website and the Faith Blocks built by your members.<p>We are seeking $1.5M to cover the costs associated with producing the faith-based, feature film &quot;Born to Overcome&quot;. Tinted Glass Films and Box-Office Blocks, LLC, are committed to ensuring that “Born to Overcome” is completed as intended and as advertised. If we do not meet with success, this will in no way be a reflection on the character, truthfulness or honest intentions of the National Black Church Initiative or the National Black Religious Broadcasters. With over 25 combined years of filmmaking experience, the production team of Tinted Glass Films is dedicated to delivering a studio quality picture, with an independent spirit.<p>We look forward to entertaining you and thank you for being a part of our project.<p>Tinted Glass Films<p>*The delivery of &quot;Born to Overcome&quot;, is contingent upon raising the funds needed for production.</p></div>
</div>
<form action="https://docs.google.com/forms/d/1RRbla9yKJxKrYGxzKN99ZcDmkZ7WE-KIOakdHzAku9o/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
  <div class="ss-form-question errorbox-good">
    <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_348589059"><div class="ss-q-title">What is the name of your organization?
      <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
      <span class="ss-required-asterisk">*</span></div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <input type="text" name="entry.348589059" value="" class="ss-q-short" id="entry_348589059" dir="auto" aria-required="true" required="" title="">
      <div class="error-message"></div>
      <div class="required-message">This is a required question</div>

    </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1262239386"><div class="ss-q-title">Is your organization tax-exempt?
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

    <ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.935594691" value="Yes" id="group_935594691_1" class="ss-q-radio" aria-label="Yes" required=""></span>
      <span class="ss-choice-label">Yes</span>
    </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.935594691" value="No" id="group_935594691_2" class="ss-q-radio" aria-label="No" required=""></span>
      <span class="ss-choice-label">No</span>
    </label></li></ul>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1642080122"><div class="ss-q-title">What is your mailing address?
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
    <input type="text" name="entry.1642080122" value="" class="ss-q-short" id="entry_1642080122" dir="auto" aria-required="true" required="" title="">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_493519597"><div class="ss-q-title">What is your contact number?
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr">Please include your area code.</div></label>
    <input type="text" name="entry.493519597" value="" class="ss-q-short" id="entry_493519597" dir="auto" aria-required="true" required="" title="">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_856014036"><div class="ss-q-title">Please list a contact person.
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
    <input type="text" name="entry.856014036" value="" class="ss-q-short" id="entry_856014036" dir="auto" aria-required="true" required="" title="">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1146215160"><div class="ss-q-title">What is the contact person&#39;s email address?
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
    <input type="text" name="entry.1146215160" value="" class="ss-q-short" id="entry_1146215160" dir="auto" aria-required="true" required="" title="">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1218477277"><div class="ss-q-title">Do you have an electronic copy of your organization&#39;s logo?
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr">We will contact you regarding this.</div></label>

    <ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1040275434" value="Yes" id="group_1040275434_1" class="ss-q-radio" aria-label="Yes" required=""></span>
      <span class="ss-choice-label">Yes</span>
    </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1040275434" value="No" id="group_1040275434_2" class="ss-q-radio" aria-label="No" required=""></span>
      <span class="ss-choice-label">No</span>
    </label></li></ul>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div></div></div> <div class="errorbox-good">
  <div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Your Contribution</h2>
    <div class="ss-section-description ss-no-ignore-whitespace">There is no minimum or maximum amount that you can contribute to this project. If you would like to contribute one of three set amounts using PayPal, please follow one of the links below.

      $50 contribution: <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3Fcmd%3D_s-xclick%26hosted_button_id%3DNV5GNC3MEVDL6&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFuPP9JavQKpBaOCAYR5URDWFDwyA">https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=NV5GNC3MEVDL6</a>

      $100 contribution: <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3Fcmd%3D_s-xclick%26hosted_button_id%3DMLEUB78RXVZNW&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGdtS5_ha71JHtZNwb0k-T2m192ag">https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=MLEUB78RXVZNW</a>

      $500 contribution: <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3Fcmd%3D_s-xclick%26hosted_button_id%3DKQVQUNGFHFW9E&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEu_tu74wsZ8238Fqhw5W_s57___Q">https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=KQVQUNGFHFW9E</a>

      If you prefer to contribute a different amount via check, please select that option below.</div>

  </div></div></div> <div class="errorbox-good">
  <div dir="ltr" class="ss-item  ss-embeddable-object-container"><div class="ss-form-entry"><h2 class="ss-q-title"></h2>
    <div style="text-align: left;"><img class="ss-image" title="" src="http://lh5.googleusercontent.com/QzdKtrRfu3TpaN_7EIFDAl-ryyWkQZ-aboBN1mZeQILIMLqTO7G9n_3pt56MUe8ZjI3yapkR5b5RtvM6" style="" alt="Captionless Image"></div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_625759973"><div class="ss-q-title">I prefer to contribute by check.
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr">If you select this option, please submit your form and then send your check to the address below.</div></label>

    <ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.344589847" value="YES" id="group_344589847_1" class="ss-q-radio" aria-label="YES" required=""></span>
      <span class="ss-choice-label">YES</span>
    </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.344589847" value="NO" id="group_344589847_2" class="ss-q-radio" aria-label="NO" required=""></span>
      <span class="ss-choice-label">NO</span>
    </label></li></ul>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div></div></div> <div class="errorbox-good">
  <div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Tinted Glass Films PO Box 643 La Center, WA 98629</h2>
    <div class="ss-section-description ss-no-ignore-whitespace"></div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1074601994"><div class="ss-q-title">Who can we thank for referring you to our project?
  </div>
    <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
    <input type="text" name="entry.1074601994" value="" class="ss-q-short" id="entry_1074601994" dir="auto" title="">
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_324050111"><div class="ss-q-title">I understand and accept the terms listed above and am aware that additional terms may apply, as stated on the &quot;My Faith Shines&quot; website and / or on Box-Office Blocks, LLC website.
    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
    <span class="ss-required-asterisk">*</span></div>
    <div class="ss-q-help ss-secondary-text" dir="ltr">Please check the box below if you agree with this statement.</div></label>

    <ul class="ss-choices ss-choices-required"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1053295358" value="I agree" id="group_1053295358_1" class="ss-q-checkbox"></span>
      <span class="ss-choice-label">I agree</span>
    </label></li></ul>
    <div class="error-message"></div>
    <div class="required-message">This is a required question</div>
  </div></div></div> <div class="errorbox-good">
  <div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title"></h2>
    <div class="ss-section-description ss-no-ignore-whitespace"></div>

  </div></div></div>
  <input type="hidden" name="draftResponse" value="[]
">
  <input type="hidden" name="pageHistory" value="0">


  <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
    <input type="submit" name="submit" value="Submit" id="ss-submit">
    <div class="ss-secondary-text">Never submit passwords through Google Forms.</div></td>
  </tr></tbody></table></div></ol></form>