<div id="all_sponsors">
	<div class="title">
		<h2><b>All Sponsors</b></h2>
		<h4>Please show your appreciation of our Faith Friendly Sponsors by visiting the pages below.</h4>
	</div>
	<div class="sponsors_list">
		
		<% if !@fellowship_sponsors.blank? %>			
			<h3>Fellowship Sponsor</h3>
			<% @fellowship_sponsors.each do |sp| %>	
			<div class="img_sp_conteiner"">			
				<%= link_to image_tag(sp.image.url, :border=>0, :class => "img" ), sp.site_sanitized, :target => "_blank" %>												
			</div>	
			<%end%>
			
		<%end%>
		
		
	</div>
	
</div>
