<div id="get_us">
	
	<img id="img" src="/assets/MP900408831.JPG" width="222" alt="">
	
	<div id="text">
		<h2><b>Contact Us</b></h2>
		<p>If you have any questions or need assistance for any reason, please email us at <a href="mailto:support@tintedglassfilms.com" class="support">support.</a></p>
		<p>You can also reach us via snail mail at:</p>
		<p>Tinted Glass Films<br />
			 PO Box 643<br />
			 La Center, WA 98629</p>			
	</div>
	<div id="img">
	
</div>
