<div id="info_sponsors">

		<div class="container">
		<div style="text-align: center; margin-bottom: 50px">
			<p>Below you will find information about becoming an Organization Sponsor. Please contact us if you would
				like to join our effort! This website will be live for a minimum of 5 years. 
				<a href="mailto:info@tintedglassfilms.com">info@tintedglassfilms.com</a>
			</p>
		</div>
		<div class="sponsor_info_wrapper">
			<div class="info_sponsor_text" style="top: 0px">			
				<p><b style="color: limeGreen">Fellowship Package $500</b> 500 Faith Blocks gifted in your name, to the members of your chosen
					organization. Your company link will appear on all blocks you sponsor and your logo and link will appear
					on your selected organization page. </p>
			</div>
			<div style="clear:both"></div>
		</div>
		
		<div class="sponsor_info_wrapper" style="text-align: center;">
			<img src="assets/MP900402398.JPG" style="width: 200px; margin-top: 30px; margin-bottom: 30px;">
			<br/>
			<p> For larger sponsorship opportunities or for our My Faith Shines Sponsor Terms, please contact Tinted
				Glass Films directly at <a href="mailto:info@tintedglassfilms.com">info@tintedglassfilms.com</a>. </p>
			<div style="clear:both"></div>
		</div>
		
	</div>
</div>

  