<div id="info_sponsors">

	<h3 style="text-align: center;margin-bottom: 50px">Below you will find the various Sponsorship Packages that are available.
	Please contact us if you would like to join our effort! And this website will be live for a minimum of 5 years. <a href="info@luckyheadfilms.com">info@luckyheadfilms.com</a></h3>          


	
	<div class="conteiner">
		
		<div class="sponsor_info_wrapper">
			<div class="img_paw" style="width: 25px">
				<img id="img" src="/assets/paw_print.jpg" width="25" height="25px" alt="">			
			</div>
			<div class="info_sponsor_text">
				<p style="margin-left: 8px"><b style="color: brown">Boonie Dog Package</b> $25 = 25 Good Dog Blocks gifted in your name, to the members of your chosen non-profit. Your company link will appear on all blocks you sponsor and your logo and link 
will appear on your selected non-profit page. </p>
			</div>
			<div style="clear:both"></div>
		</div>
		
		<div class="sponsor_info_wrapper">
			<div class="img_paw" style="width: 30px">
				<img id="img" src="/assets/paw_print.jpg" width="30" height="30px" alt="">			
			</div>
			<div class="info_sponsor_text" style="top:2px;">
				<p><b style="color: lightSeaGreen">Lucky Dog Package</b> $100 = 100 Good Dog Blocks gifted in your name, to the members of your 
chosen non-profit. Your company link will appear on all blocks you sponsor and your logo and link 
will appear on your selected non-profit page.</p>
			</div>
			<div style="clear:both"></div>
		</div>
		
		<div class="sponsor_info_wrapper">
			<div class="img_paw" style="width: 40px">
				<img id="img" src="/assets/paw_print.jpg" width="40" alt="">			
			</div>
			<div class="info_sponsor_text" style="top: 7px">
				<p><b style="color: lightCoral">Working Dog Package</b> $250 = 250 Good Dog Blocks gifted in your name, to the members of your 
chosen non-profit. Your company link will appear on all blocks you sponsor and your logo and link 
will appear on your selected non-profit page. </p>
				
			</div>
			<div style="clear:both"></div>
		</div>	
		
		
		<div class="sponsor_info_wrapper">
			<div class="img_paw" style="width: 70px">
				<img id="img" src="/assets/paw_print.jpg" width="50" alt="">			
			</div>
			<div class="info_sponsor_text" style="top: 0px">			
				<p><b style="color: limeGreen">Top Dog Package</b> $500 = 500 Good Dog Blocks gifted in your name, to the members of your chosen 
non-profit. Your company link will appear on all blocks you sponsor and your logo and link will 
appear on your selected non-profit page. </p>
			</div>
			<div style="clear:both"></div>
		</div>
		<br  /><br  /><br  />
		<div class="sponsor_info_wrapper">
			<p> For larger sponsorship opportunities or for our Good Dog Sponsor Terms, please contact Lucky 
Head Films directly at <a href="mailto:info@luckyheadfilms.com">info@luckyheadfilms.com</a>. </p>
			<div style="clear:both"></div>
		</div>
		
	</div>
</div>

  