<div id="legal_mumbo">
	<div id="terms">
		<div class="info_title">		
				<h2><b> I am a Good Dog</b></h2>						
		</div>
		
			<div class="conteiner">
				<div class=WordSection1>

					<p class=MsoNormal align=center style='margin-bottom:15.0pt;text-align:center;
					background:white;vertical-align:baseline'><b><span style='font-size:18.0pt;
					font-family:"inherit","serif";color:#5E6469'>My Faith Shines</span></b></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><b><span style='font-size:
					10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Terms of Use
					Agreement</span></b></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>Welcome to www.myfaithshine.com,
					a website owned and operated by Box-Office Blocks, LLC and Tinted Glass Films
					was designed to allow faithful individuals to post their testimony or a prayer
					for others online. Your purchase entitles you to one or more Faith Blocks and
					an Official Certificate of Recognition. By using the www.myfaithshine.com
					website, (the &quot;Website&quot;) you agree to be bound by these Terms of Use
					(this &quot;Agreement&quot;), whether or not you purchase (the &quot;Purchaser&quot;)
					a Faith Block on this website. If you wish to purchase a Faith Block and make
					use of this website, please read these Terms of Use.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>If you object to
					anything in this Agreement or the Privacy Policy for www.myfaithshines.com, do
					not use the Website or the Service. The Terms of Use are subject to change by
					Box-Office Blocks, LLC and / or Tinted Glass Films, at any time, effective upon
					posting on the www.myfaithshines.com website, and your use of the Service after
					such posting will constitute acceptance by you of such changes.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>THE PURCHASE OF A FAITH
					BLOCK ON WWW.MYFAITHSHINES.COM DOES NOT CONSTITUTE AN INVESTMENT OR PURCHASE OF
					OWNERSHIP IN THE ASSOCIATED FILM PROJECT(S), IN FUTURE PROJECTS, IN BOX-OFFICE
					BLOCKS, LLC OR TINTED GLASS FILMS OR ITS SUBSIDIARIES. PLEASE SEE PURCHASER
					TERMS FOR MORE INFORMATION.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>1.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Acceptance
					of Terms of Use Agreement</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Electronic Agreement. This Agreement is an electronic contract
					that sets out the legally binding terms of your use of the Website. This
					Agreement may be modified by Box-Office Blocks, LLC or Tinted Glass Films from
					time to time, such modifications to be effective upon posting by Box-Office
					Blocks, LLC or Tinted Glass Films on the Website. This Agreement includes the
					Privacy Policy, Conditions of Use Terms and any notices or additional terms
					regarding the Website. By accessing the Website or purchasing a Faith Block,
					you accept this Agreement and agree to the terms, conditions and notices
					contained or referenced herein.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Electronic Form.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>By accessing the Website or purchasing a Faith Block, you
					consent to have this Agreement provided to you in electronic form.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Non-electronic Copy.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You have the right to receive this Agreement in non-electronic
					form. You may request a non-electronic copy of this Agreement either before or
					after you electronically sign the Agreement. To receive a non-electronic copy
					of this Agreement, please send an e-mail to info@tintedglassfilms.com or a
					letter and self-addressed stamped envelope to: Tinted Glass Films PO Box 643 La
					Center, WA 98629.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Withdrawing Your Consent.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You have the right at any time to withdraw your consent to have
					this Agreement provided to you in electronic form.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(i) Effect.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Should you choose to withdraw your consent to have this
					Agreement provided to you in electronic form, we will discontinue your
					then-current Faith Block. This means that you will not have an active Faith
					Block unless, and until, we reactivate your Faith Block. Your Faith Block will
					be placed in a pending status until we receive a signed copy of a
					non-electronic version of this Agreement, which we will send to you upon
					request.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(ii) Notice.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>To withdraw your consent and/or request a non-electronic copy of
					this Agreement, please send an email to info@tintedglassfilms.com or a
					self-addressed stamped envelope to: Tinted Glass Films PO Box 643 La Center, WA
					98629.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(iii) Prospective Nature.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Your withdrawal of consent shall be effective within a
					reasonable time after we receive your withdrawal notice described above. Your
					withdrawal of consent will not affect the legal validity or enforceability of
					the Agreement provided to, and electronically signed by, you prior to the
					effective date of your withdrawal.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(iv) Access and Retention.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>In order to access and retain this electronic Agreement, you
					must have access to the World Wide Web, either directly or through devices that
					access web-based content, and pay any service fees associated with such access.
					In addition, you must use all equipment necessary to make such connection to
					the World Wide Web, including a computer and modem or other access device.
					Please print a copy of this document for your records. To retain an electronic
					copy of this Agreement, you may save it into any word processing program. Via,
					the Website, we will notify you of any changes in the hardware or software
					requirements needed to access and/or retain this Agreement that create a
					material risk that you will not be able to continue to access and/or retain
					this electronic Agreement.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>2.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Eligibility</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You must be at least eighteen-years-old to purchase a Faith
					Block on www.myfaithshines.com. By using the Website, you represent and warrant
					that you have the right, authority and capacity to enter into this Agreement
					and to abide by all of the terms and conditions of this Agreement. Membership
					in the Service is void where prohibited.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>3.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Term</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>This Agreement will remain in full force and effect from the
					time you use the Website and/or purchase a Faith Block, until the site is
					permanently removed from the World Wide Web. You may cancel your Faith Block at
					any time, for any reason, by sending an email notice of termination to
					info@tintedglassfilms.com or by sending written notice of termination to Tinted
					Glass Films PO Box 643 La Center, WA 98629. Tinted Glass Films may terminate
					your Faith Block by sending notice to you at the email address you provide at
					purchase, or such other email address as you may later provide. If Tinted Glass
					Films terminates your Faith Block because you have breached this Agreement, you
					will not be entitled to any refund. Please see our Refund Policy for further
					details. All decisions regarding the termination of accounts shall be made in
					the sole discretion of Box-Office Blocks, LLC or Tinted Glass Films. Tinted
					Glass Films is not required to provide you notice prior to terminating your Faith
					Block. Box-Office Blocks, LLC or Tinted Glass Films is not required, and may be
					prohibited, from disclosing a reason for the termination of your Faith Block.
					Even after termination, this Agreement will remain in effect. All terms that by
					their nature may survive termination of this Agreement shall be deemed to
					survive such termination.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>4.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Non-commercial
					Use by Purchasers</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>The Website is for the personal use of individual Purchasers
					which may include organizations, companies and / or businesses engaged in
					commercial endeavors. Illegal and/or unauthorized uses of the Website,
					including collecting usernames and/or email addresses of members by electronic
					or other means for the purpose of sending unsolicited email and unauthorized
					framing of or linking to the Website may be investigated, and appropriate legal
					action will be taken, including without limitation, civil, criminal, and
					injunctive redress. Use of the Website is with the permission of Box-Office
					Blocks, LLC and Tinted Glass Films which may be revoked at any time, for any
					reason.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>5.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Your
					Interactions with Other Members</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>In no event shall Box-Office Blocks, LLC or Tinted Glass Films
					be liable for any damages whatsoever, whether direct, indirect, general,
					special, compensatory, consequential, and/or incidental, arising out of or
					relating to the conduct of you or anyone else in connection with the use of the
					Website, including without limitation, bodily injury, emotional distress,
					and/or any other damages resulting from the use of this Service. You understand
					that Box-Office Blocks, LLC and Tinted Glass Films makes no guarantees, either
					express or implied, regarding your ultimate satisfaction with the content on
					the website or any filmed content offered at anytime.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>6.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Content
					on www.myfaithshines.com</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Box-Office Blocks, LLC and / or Tinted Glass Films owns and
					retains all proprietary rights in the Website. The Website contains the
					copyrighted material, trademarks, and other proprietary information of
					Box-Office Blocks, LLC and / or Tinted Glass Films and its licensors. Except
					for that information which is in the public domain or for which you have been
					given written permission, you may not copy, modify, publish, transmit,
					distribute, perform, display, or sell any such proprietary information. Opinions,
					advice, statements, offers, or other information or content made available
					through the Service, but not directly by Box-Office Blocks, LLC and / or Tinted
					Glass Films, are those of their respective authors, and should not necessarily
					be relied upon. Such authors are solely responsible for such content.
					Box-Office Blocks, LLC and / or Tinted Glass Films does not: (i) guarantee the
					accuracy, completeness, or usefulness of any information on the Service, or
					(ii) adopt, endorse or accept responsibility for the accuracy or reliability of
					any opinion, advice, or statement made by any party that appears on the
					Website. Under no circumstances will Box-Office Blocks, LLC, Tinted Glass Films
					or its affiliates be responsible for any loss or damage resulting from your
					reliance on information or other content posted on the Website or transmitted
					to or by any Members.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>7.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Prohibited
					Activities</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Box-Office Blocks, LLC and Tinted Glass Films reserves the right
					to investigate and terminate your Faith Block if you have misused the Website,
					or behaved in a way which could be regarded as inappropriate or whose conduct
					is unlawful or illegal. The following is a partial list of the type of actions
					that you may not engage in with respect to the Website:</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not impersonate any person or entity.</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not use any robot, spider, site search/retrieval
					application, or other manual or automatic device or process to retrieve, index,
					&quot;data mine&quot;, or in any way reproduce or circumvent the navigational
					structure or presentation of the Website or its contents.</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not post, distribute or reproduce in any way any
					copyrighted material, trademarks, or other proprietary information without
					obtaining the prior consent of the owner of such proprietary rights.</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not remove any copyright, trademark or other
					proprietary rights notices contained in the Website.</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not interfere with or disrupt the Website or the site
					or the servers or networks connected to the Website.</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not post, email or otherwise transmit any material that
					contains software viruses or any other computer code, files or programs
					designed to interrupt, destroy or limit the functionality of any computer
					software or hardware or telecommunications equipment.<br clear=all>
					You will not forge headers or otherwise manipulate identifiers in order to
					disguise the origin of any information transmitted through the Website.</span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not &quot;frame&quot; or &quot;mirror&quot; any part of
					the Website, without prior written authorization of Box-Office Blocks, LLC and
					/ or Tinted Glass Films. You also shall not use meta tags or code or other
					devices containing any reference to Box-Office Blocks, LLC, Tinted Glass Films
					or the Website in order to direct any person to any other web site for any
					purpose.</span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;text-indent:-.25in;
					line-height:13.5pt;background:white;vertical-align:baseline'><span
					style='font-size:10.0pt;font-family:Symbol;color:#323537'>·<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You will not modify, adapt, sublicense, translate, sell, reverse
					engineer, decipher, decompile or otherwise disassemble any portion of the
					Website or any software used on or for the Website or cause others to do so.</span></p>
					
					<p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
					margin-bottom:0in;margin-left:51.0pt;margin-bottom:.0001pt;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>8.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Customer
					Service</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Box-Office Blocks, LLC and Tinted Glass Films provides
					assistance and guidance through its support representatives. When communicating
					with our representatives, you may not to be abusive, obscene, profane,
					offensive, sexist, threatening, harassing, racially offensive, or otherwise
					behave inappropriately. If we feel that your behavior towards any of our
					representatives or other employees is at any time threatening or offensive, we
					reserve the right to immediately terminate your Faith Block and you will not be
					entitled to a refund of any kind.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>9.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Miscellaneous</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(a) General.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Box-Office Blocks, LLC or Tinted Glass Films will charge you a
					one-time fee for use of the Website. You agree to pay Box-Office Blocks, LLC or
					Tinted Glass Films all charges, at the prices then in effect, for any use of
					the Website by you or other persons (including your agents), and you authorize
					Box-Office Blocks, LLC and / or Tinted Glass Films to charge your chosen
					payment provider (your &quot;Payment Method&quot;) for use of the Website. You
					agree to make payment using that available Payment Methods. Box-Office Blocks,
					LLC and / or Tinted Glass Films reserves the right to correct any errors or
					mistakes that it makes even if it has already requested or received payment.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(b) Purchaser Details.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>A Faith Block on the Website consists of a minimum of one 40 x
					40 pixel block on a Website (</span><span style='font-size:10.0pt;font-family:
					"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span><a
					href="http://www.iamagooddog.com/"><span style='font-size:10.0pt;font-family:
					"inherit","serif";color:#38678B'>www.myfaithshines.com</span></a><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>)
					that will remain live for a minimum of five-years. You will have the right to
					display an image or logo associated with your faith. All images must be in GIF,
					PNG or JPEG format, not animated and appropriate for the size of your purchased
					space. If your Faith Block allows for a link, it must link to a valid email
					address or website beginning with http://. Following the confirmation of your
					order, which is considered done at the point in which you press the CHECKOUT
					button, you will not have the ability to make changes to your Faith Block.
					However, changes can be made through the administrator, Tinted Glass Films, for
					such reasons as your site no longer exists, typos, major structural changes to
					your site, lawsuits, etc… Block changes will be accommodated no more than twice
					for each Faith Block. Your one-time fee, for the purchase of one or multiple
					grouped Faith Block(s) includes one Certificate of Recognition, delivered
					digitally.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(c) If and when the feature film Born to Overcome is complete, it
					will be made available to participating non-profit organizations to screen as a
					fund-raiser. Non-profit organizations will receive city related, screening
					priority as follows: 1) Non-profit organizations that are partnered with Tinted
					Glass Films 2) All other non-profit organizations. In the event that two
					organizations have the right to screen in the same city, priority will be given
					at the discretion of Box-Office Blocks, LLC and / or Tinted Glass Films.
					Box-Office Blocks, LLC and / or Tinted Glass Films reserves the right to modify
					the screening priority terms at any time and without notice. THE PURCHASE OF A FAITH
					BLOCK ON THE </span><a href="http://www.myfaithshines.com"><span
					style='font-size:10.0pt;font-family:"inherit","serif";color:#38678B'>WWW.MYFAITHSHINES.COM</span></a><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>SITE
					DOES NOT CONSTITUTE AN INVESTMENT OR PURCHASE OF OWNERSHIP IN THE ASSOCIATED
					WEBSITES, FILM &amp; VIDEO PROJECT (S), IN FUTURE PROJECTS, IN BOX-OFFICE
					BLOCKS, LLC, IN TINTED GLASS FILMS OR ITS SUBSIDIARIES.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(e) Payment Method.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>The terms of your payment will be based on your chosen Payment
					Method (Paypal) and may be determined by agreements between you and the
					financial institution, credit card issuer or other provider of your chosen
					Payment Method (the &quot;Payment Method Provider&quot;). If Box-Office Blocks,
					LLC and / or Tinted Glass Films does not receive payment from your Payment
					Method Provider, you agree to pay all amounts due upon demand.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>(f) Refunds Policy.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>With the exception of the rules associated with Paypal, there
					are no refunds once your Faith Block is purchased. The price that you pay at
					the time you buy your Faith Block is final and cannot be refunded. UNLESS
					OTHERWISE STATED, REFUNDS ARE NOT AVAILABLE, FOR ANY REASON.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>10.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Contests,
					Promotions, Contributions</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>From time to time, Box-Office Blocks, LLC, Tinted Glass Films or
					its suppliers, associates and / advertisers may conduct promotions on or
					through the Site, including, without limitation, auctions, contests, drawings,
					incentives, discounts, charitable contributions (&quot;Promotions&quot;). Each
					Promotion may have Additional Terms and / or Rules which will be posted or
					otherwise made available to you and, for purposes of each Promotion, will be
					deemed incorporated into and form a part of the Agreement.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>11.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Modifications
					to Service</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Box-Office Blocks, LLC and / or Tinted Glass Films reserves the
					right at any time to modify the Website (or any part thereof) with or without
					notice. Box-Office Blocks, LLC and / or Tinted Glass Films also reserves the
					right to discontinue, temporarily or permanently, the Website (or any part
					thereof) with or without notice, after the agreed upon five year period or
					before due to force majeure. You agree that Box-Office Blocks, LLC and / or Tinted
					Glass Films shall not be liable to you or to any third party for any
					modification, suspension or discontinuance of the Website.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>12.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Blocking
					of IP Addresses</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>In order to protect the integrity of the Website, Box-Office
					Blocks, LLC and Tinted Glass Films reserve the right at any time in its sole
					discretion to block Purchasers from certain IP addresses from accessing the
					Website.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>13.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Copyright
					Policy</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You may not post, distribute, or reproduce in any way, any
					copyrighted material, trademarks, or other proprietary information without
					obtaining the prior written consent of the owner of such proprietary rights.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>14.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Privacy</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Use of the Website is also governed by our Privacy Policy.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>15.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Disclaimers</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Box-Office Blocks, LLC and Tinted Glass Films is not responsible
					for any incorrect or inaccurate content posted on the Website, whether caused
					by users of the Website, Purchasers or by any of the equipment or programming
					associated with or utilized in the Service. Box-Office Blocks, LLC and Tinted
					Glass Films is not responsible for the conduct, whether online or offline, of
					any user of the Website or Purchaser of a Faith Block. Box-Office Blocks, LLC
					and Tinted Glass Films assumes no responsibility for any error, omission,
					interruption, deletion, defect, delay in operation or transmission,
					communications line failure, theft or destruction or unauthorized access to, or
					alteration of, user or Purchaser communications. Box-Office Blocks, LLC and Tinted
					Glass Films is not responsible for any problems or technical malfunction of any
					telephone network or lines, computer online systems, servers or providers,
					computer equipment, software, failure of email or players on account of technical
					problems or traffic congestion on the Internet or at any Website or combination
					thereof, including injury or damage to users and/or Purchasers or to any other
					person's computer related to or resulting from participating or downloading
					materials in connection with the Web and/or in connection with the Website.
					Under no circumstances will Box-Office Blocks, LLC, Tinted Glass Films or any
					of its affiliates, advertisers, promoters or distribution partners be
					responsible for any loss or damage, including personal injury or death,
					resulting from anyone's use of the Website, any Content posted on the Website
					or transmitted to Purchasers, or any interactions between users of the Website,
					whether online or offline. The Website is provided &quot;AS-IS&quot; and Box-Office
					Blocks, LLC and Tinted Glass Films expressly disclaims any warranty of fitness
					for a particular purpose or non-infringement. Box-Office Blocks, LLC and Tinted
					Glass Films cannot guarantee and does not promise any specific results from use
					of the Website. In addition to the preceding paragraph and other provisions of
					this Agreement, any advice that may be posted on the Website is for
					informational and entertainment purposes only and is not intended to replace or
					substitute for any professional financial, medical, legal, creative or other
					advice. Box-Office Blocks, LLC and Tinted Glass Films makes no representations
					or warranties and expressly disclaims any and all liability concerning any
					treatment, action by, or effect on any person following the information offered
					or provided within or through the Website. Box-Office Blocks, LLC and Tinted
					Glass Films shall have the right to abandon the film at its sole discretion at
					any time, for any reason.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>16.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Links</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>The Website may provide, or third parties may provide, links to
					other World Wide Web sites or resources. Because Box-Office Blocks, LLC and Tinted
					Glass Films has limited control over such sites and resources, you acknowledge
					and agree that Box-Office Blocks, LLC, Tinted Glass Films,
					www.boxofficeblocks.com, www.boxofficeblocks.net, www.myfaithshines.com or any
					associated web domain variations, is not responsible for the availability of
					such external sites or resources, and does not endorse and is not responsible
					or liable for any content, advertising, products or other materials on or
					available from such sites or resources. You further acknowledge and agree that
					Box-Office Blocks, LLC and Tinted Glass Films shall not be responsible or
					liable, directly or indirectly, for any damage or loss caused or alleged to be
					caused by or in connection with the use of, or reliance upon, any such Content,
					goods or services available on or through any such site or resource.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>17.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Limitation
					on Liability</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Except in jurisdictions where such provisions are restricted, in
					no event will Box-Office Blocks, LLC or Tinted Glass Films be liable to you or
					any third person for any indirect, consequential, exemplary, incidental,
					special or punitive damages, including also lost profits arising from your use
					of the Website, even if Box-Office Blocks, LLC or Tinted Glass Films has been
					advised of the possibility of such damages. Notwithstanding anything to the
					contrary contained herein, Box-Office Blocks, LLC's and Tinted Glass Films'
					liability to you for any cause whatsoever, and regardless of the form of the
					action, will at all times be limited to the amount paid, if any, by you to
					Box-Office Blocks, LLC and / or Tinted Glass Films for the one or more Faith
					Blocks.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>18.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Jurisdiction
					and Choice of Law</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>If there is any dispute arising out of the Website, by using the
					Website, you expressly agree that any such dispute shall be governed by the
					laws of the State of Washington, without regard to its conflict of law
					provisions, and you expressly agree and consent to the exclusive jurisdiction
					and venue of the state and federal courts of the State of Washington, in Clark
					County, for the resolution of any such dispute.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>19.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Indemnity
					by You</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You agree to indemnify and hold Box-Office Blocks, LLC and Tinted
					Glass Films, its subsidiaries, affiliates, officers, agents, and other partners
					and employees, harmless from any loss, liability, claim, or demand, including
					reasonable attorney's fees, made by any third party due to or arising out of
					your use of the Website in violation of this Agreement and/or arising from a
					breach of this Agreement and/or any breach of your representations and
					warranties set forth above.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>20.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>No
					Third Party Beneficiaries</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>You agree that, except as otherwise expressly provided in this
					Agreement, there shall be no third party beneficiaries to this Agreement.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>21.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Other</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Agreement contains the entire agreement between you and
					Box-Office Blocks, LLC and Tinted Glass Films regarding the use of the Website.
					If any provision of this Agreement is held invalid, the remainder of this
					Agreement shall continue in full force and effect.<br clear=all>
					Please contact us with any questions regarding this agreement.
					www.myfaithshines.com, www.tintedglassfilms.com, www.boxofficeblocks.com and
					www.boxofficeblocks.net are trademarks belonging to Box-Office Blocks, LLC and Tinted
					Glass Films.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><b><span style='font-size:
					10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Our Privacy
					Policy</span></b></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>It is our priority to
					ensure that your personal and payment information is secure and your privacy is
					respected. Below is a description of how we maintain online security and
					respect your privacy.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><b><span style='font-size:
					10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Online Security</span></b></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>Whenever you provide any
					order information, the traffic is &quot;encrypted,&quot; or, scrambled, during
					transfer so that no one else can read it while it is being transmitted over the
					Internet.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><b><span style='font-size:
					10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Online Privacy</span></b></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>This Privacy Policy
					Statement sets forth the privacy policy pertaining to www.myfaithshines.com
					(the &quot;Site&quot;). By using the Site, you are agreeing to the terms set
					forth in this Privacy Policy Statement. For other terms and conditions that
					apply to your use of the Site, please review our Terms of Use Agreement.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>For purposes of this
					Privacy Policy Statement, &quot;Personal Information&quot; means any
					information by which you can be personally identified, and includes your name,
					your address, your telephone number, your e-mail address and the like.
					Box-Office Blocks, LLC and / or Tinted Glass Films collects Personal
					Information only when you voluntarily submit such Personal Information to us,
					such as when purchasing a FAITH BLOCK and so on.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>Box-Office Blocks, LLC
					and / or Tinted Glass Films does not collect personally identifiable information
					from any person under the age of eighteen, and if you are under eighteen,
					please give us parental contact information or exit this site.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>For each visitor to the
					Site, our web servers automatically recognize information regarding the
					visitor's domain name (or that of the visitor's access provider) and e-mail
					address. Regardless of the purpose for which it is submitted, it is our policy
					to maintain all Personal Information as confidential, and to use such Personal
					Information for the following purposes:</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Courier New";color:#323537'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>for the specific purpose for which it was volunteered (for
					example, to purchase a FAITH BLOCK, etc.);</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Courier New";color:#323537'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>to improve the content, appearance and utility of the Site;</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Courier New";color:#323537'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>to track our visitors' use of the Site for internal purposes;
					and</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Courier New";color:#323537'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>to notify our visitors of updates to the Site.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Courier New";color:#323537'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
					</span></span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>to develop desirable future projects.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:15.0pt;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>It is our policy to keep
					Personal Information only for so long as needed for such purposes. At any time,
					you may obtain a summary of the Personal Information on record with Tinted
					Glass Films which has been collected about you via this Site. Except for
					Personal Information we need to complete your transactions, you may request at
					any time that Box-Office Blocks, LLC and / or Tinted Glass Films dispose of any
					or all Personal Information about you. In addition, at any time you may request
					that Box-Office Blocks, LLC and / or Tinted Glass Films correct any such
					Personal Information; or that such Personal Information be removed from our
					databases.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>To make any request
					described above, send an e-mail to</span><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span><a
					href="mailto:support@luckyheadfilms.com"><span style='font-size:10.0pt;
					font-family:"inherit","serif";color:#38678B'>support</span></a><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>or
					write to: Tinted Glass Films</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>PO Box 643 La Center, WA
					98629</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>When contacting us,
					please be sure to provide us with your exact e-mail address, name, address
					and/or telephone number(s) in order to be sure we handle your request
					correctly.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><b><span style='font-size:
					10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Requesting To Be
					Removed From Email Lists</span></b></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>If you do not wish to
					receive email from Box-Office Blocks, LLC or Tinted Glass Films in the future,
					please email us at</span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>&nbsp;</span><a href="mailto:support@luckyheadfilms.com"><span
					style='font-size:10.0pt;font-family:"inherit","serif";color:#38678B'>support</span></a><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>to
					be removed from our email list. Box-Office Blocks, LLC and Tinted Glass Films
					reserves the right, at its discretion, to change, modify, add, or remove
					portions of this Privacy Policy Statement at any time. You should check this
					page periodically for changes. Your continued use of this Site following the
					posting of changes to this Privacy Policy Statement will mean that you accept
					those changes.</span></p>
					
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					13.5pt;background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>&nbsp;</span></p>
					
					<p style='margin:0in;margin-bottom:.0001pt;line-height:13.5pt;background:white;
					vertical-align:baseline'><b><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>Conditions of Purchase</span></b></p>
					
					<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
					margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Minimum
					Purchase is 1 Faith Block<b> </b>(40x40 pixel block) for $1.00 to $10. Feel free
					to buy as many blocks as you like.</span></p>
					
					<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
					margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>You
					are purchasing a Faith Block on a website that will remain live for a<span
					class=apple-converted-space>&nbsp;</span><u>minimum</u><span
					class=apple-converted-space>&nbsp;</span>of 5 years.</span></p>
					
					<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
					margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Images
					must be in GIF, PNG or JPEG format and not animated.<span
					class=apple-converted-space>&nbsp;</span><b>No obscene, offensive or adult
					images are allowed.</b></span></p>
					
					<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
					margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>If
					available, your Faith Block must link to a valid email address or web page
					beginning with http://. No obscene, offensive or adult links are allowed.</span></p>
					
					<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
					margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;background:white;
					vertical-align:baseline'><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>You
					will not be able to change your selected image or associated information once
					you have purchased the Faith Blocks, so you must be sure of the image and link
					that you submit. Changes are only accommodated twice and for reasons such as
					your site no longer existing, major structural changes to your site, typos, lawsuits,
					etc...</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>6.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>After
					payment is received your Faith Block will be active. Your link, if applicable, description
					and image will be reviewed by a live person within 48 hours and periodically
					following this time.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>7.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>If
					you wish to pay using a check or money order, please contact us and we will
					send you an electronic order form that you can print out and send in with your
					payment. Please allow at least 1-2 weeks for your payment to clear and your Faith
					Block Code to be forwarded to you.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>8.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'><img
					border=0 width=52 height=52 id="Picture 1"
					src="My%20Faith%20Shines_Site_Legal_files/image001.gif"
					alt="MFS_Block_Image_Reserved.jpg"></span><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>This image will appear
					for blocks that are in the process of being purchased.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>9.<span
					style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>There
					are no refunds once your Faith Block is purchased. The price that you pay at
					the time you buy your Faith Block is final and cannot be refunded.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>10.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>It
					will be up to the recipient of any Faith Block Gift Codes to select a Faith
					Block and enter all the necessary information. If an individual fails to redeem
					their Faith Block Gift Code before all blocks are sold, they will forfeit their
					rights to a block. This also applies to complimentary Faith Block Gift Codes.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>11.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>No
					obscene, offensive, adult, illegal images, links or description will be
					accepted. We decide what is appropriate for the site. If your Faith Block is
					found to represent unacceptable material, your Faith Block will be made
					inactive and you will have two weeks to provide an alternative image,
					description and / or link. If you cannot provide an alternative within two
					weeks, your money will not be refunded and you will lose your Faith Block.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>12.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>If
					your Faith Block(s) is reviewed and you later change the content of the linked
					site to show offensive, obscene, adult or illegal material then your Faith
					Block will be removed, the space will become publicly available again, and you
					will not get a refund.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>13.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>You
					can request your image to be removed at any time but the space will become
					publicly available again and you will not receive a refund.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>14.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>Although
					we will not change or remove your image under normal circumstances, we reserve
					the right to do so under exceptional circumstances such as a court order,
					lawsuit or public outcry. When a removal happens, the space will become
					publicly available and you will not receive a refund.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>15.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>You
					must have the legal right to use the image you provide for your block.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>16.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>There
					might be occasional downtime for site maintenance but it will be minimal.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>17.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>If
					and when the feature film</span><span style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";
					color:#323537'> Born to Overcome&nbsp;</span><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>is complete, it will be
					made available to non-profit, organizations to screen as a fund-raiser.
					Screening priority will be given as outlined in the Terms of Use Agreement. We
					reserve the right to abandon the movie project at any point, for any reason.
					But please know that the chances of us abandoning this project are next to nil.</span></p>
					
					<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
					margin-left:.25in;margin-bottom:.0001pt;text-indent:-.25in;line-height:13.5pt;
					background:white;vertical-align:baseline'><span style='font-size:10.0pt;
					font-family:"Trebuchet MS","sans-serif";color:#323537'>18.<span
					style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
					style='font-size:10.0pt;font-family:"Trebuchet MS","sans-serif";color:#323537'>When
					you purchase a Faith Block, you do not own any part of this homepage, this
					site, any and all associated companies or the film “Born to Overcome”. Through
					this site you are granted only the right to submit an image and story, which
					will then be published on a page in the respective space you have paid for.</span></p>
					
					<p class=MsoNormal>&nbsp;</p>
					
					</div>			
			</div>
	</div>
</div>