<div id="legal_mumbo">
	<div id="terms">
		<div class="info_title">		
				<h2><b> I am a Good Dog</b></h2>						
		</div>
		
			<div class="conteiner">
				<p><b>Terms of Use Agreement</b></p>
				<p>Welcome to www.iamagooddog.com, a website owned and operated by Box-Office Blocks, LLC and Lucky Head Films, LLC, for dog lovers and movie fans to display their good dog online. Your purchase entitles you to one or more Good Dog Blocks, a digital download of the dog companion video "My Dog's Gone Wild" and an Official Good Dog Certificate. By using the www.iamagooddog.com website, (the "Website") you agree to be bound by these Terms of Use (this "Agreement"), whether or not you purchase (the "Purchaser") a Good Dog Block on this website. If you wish to purchase a Good Dog Block and make use of this website, please read these Terms of Use.</p>
				<p>If you object to anything in this Agreement or the Privacy Policy for www.iamagooddog.com, do not use the Website or the Service. The Terms of Use are subject to change by Box-Office Blocks, LLC and / or Lucky Head Films, LLC at any time, effective upon posting on the www.iamagooddog.com website, and your use of the Service after such posting will constitute acceptance by you of such changes.</p>
				<p>THE PURCHASE OF A GOOD DOG BLOCK ON WWW.IAMAGOODDOG.COM DOES NOT CONSTITUTE AN INVESTMENT OR PURCHASE OF OWNERSHIP IN THE ASSOCIATED FILM PROJECT(S), IN FUTURE PROJECTS, IN BOX-OFFICE BLOCKS, LLC OR LUCKY HEAD FILMS, LLC OR ITS SUBSIDIARIES. PLEASE SEE PURCHASER TERMS FOR MORE INFORMATION.</p>
				<ol class="ol">
					<li>
						<p>Acceptance of Terms of Use Agreement</p>			
						<p>Electronic Agreement. This Agreement is an electronic contract that sets out the legally binding terms of your use of the Website. This Agreement may be modified by Box-Office Blocks, LLC or Lucky Head Films, LLC from time to time, such modifications to be effective upon posting by Box-Office Blocks, LLC or Lucky Head Films, LLC on the Website. This Agreement includes the Privacy Policy, Conditions of Use terms and any notices or additional terms regarding the Website. By accessing the Website or purchasing a Good Dog Block, you accept this Agreement and agree to the terms, conditions and notices contained or referenced herein.</p>
						<p>Electronic Form.</p>
						<p>By accessing the Website or purchasing a Good Dog Block, you consent to have this Agreement provided to you in electronic form.</p>
						<p>Non-electronic Copy.</p>
						<p>You have the right to receive this Agreement in non-electronic form. You may request a non-electronic copy of this Agreement either before or after you electronically sign the Agreement. To receive a non-electronic copy of this Agreement, please send an e-mail to <a href="mailto:support@luckyheadfilms.com">support </a> a letter and self-addressed stamped envelope to: Lucky Head Films PO Box 643 La Center, WA 98629.</p>
						<p>Withdrawing Your Consent.</p>
						<p>You have the right at any time to withdraw your consent to have this Agreement provided to you in electronic form.</p>
						<p>(i) Effect.</p>
						<p>Should you choose to withdraw your consent to have this Agreement provided to you in electronic form, we will discontinue your then-current Good Dog Block. This means that you will not have an active Good Dog Block unless, and until, we reactivate your Good Dog Block. Your Good Dog Block will be placed in a pending status until we receive a signed copy of a non-electronic version of this Agreement, which we will send to you upon request.</p>
						<p>(ii) Notice.</p>
						<p>To withdraw your consent and/or request a non-electronic copy of this Agreement, please send an email to <a href="mailto:support@luckyheadfilms.com">support</a> or a self-addressed stamped envelope to: Lucky Head Films PO Box 643 La Center, WA 98629. </p>
						<p>(iii) Prospective Nature.</p>
						<p>Your withdrawal of consent shall be effective within a reasonable time after we receive your withdrawal notice described above. Your withdrawal of consent will not affect the legal validity or enforceability of the Agreement provided to, and electronically signed by, you prior to the effective date of your withdrawal.</p>
						<p>(iv) Access and Retention.</p>
						<p>In order to access and retain this electronic Agreement, you must have access to the World Wide Web, either directly or through devices that access web-based content, and pay any service fees associated with such access. In addition, you must use all equipment necessary to make such connection to the World Wide Web, including a computer and modem or other access device. Please print a copy of this document for your records. To retain an electronic copy of this Agreement, you may save it into any word processing program. Via, the Website, we will notify you of any changes in the hardware or software requirements needed to access and/or retain this Agreement that create a material risk that you will not be able to continue to access and/or retain this electronic Agreement.</p>										
					</li>
					<li>
						<p>Eligibility</p>
						<p>You must be at least eighteen-years-old to purchase a Good Dog Block on www.iamagooddog.com. By using the Website, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. Membership in the Service is void where prohibited.</p>
					</li>
					<li>
						<p>Term</p>
						<p>This Agreement will remain in full force and effect from the time you use the Website and/or purchase a Good Dog Block, until the site is permanently removed from the World Wide Web. You may cancel your Good Dog Block at any time, for any reason, by sending an email notice of termination to <a href="mailto:support@luckyheadfilms.com">support</a>  or by sending written notice of termination to Lucky Head Films PO Box 643 La Center, WA 98629. Lucky Head Films, LLC may terminate your Good Dog Block by sending notice to you at the email address you provide at purchase, or such other email address as you may later provide. If Lucky Head Films, LLC terminates your Good Dog Block because you have breached this Agreement, you will not be entitled to any refund. Please see our Refund Policy for further details. All decisions regarding the termination of accounts shall be made in the sole discretion of Box-Office Blocks, LLC or Lucky Head Films, LLC. Lucky Head Films is not required to provide you notice prior to terminating your Good Dog Block. Box-Office Blocks, LLC or Lucky Head Films, LLC is not required, and may be prohibited, from disclosing a reason for the termination of your Good Dog Block. Even after termination, this Agreement will remain in effect. All terms that by their nature may survive termination of this Agreement shall be deemed to survive such termination. </p>						
					</li>
					<li>
						<p>Non-commercial Use by Purchasers</p>
						<p>The Website is for the personal use of individual Purchasers which may include organizations, companies and / or businesses engaged in commercial endeavors. Illegal and/or unauthorized uses of the Website, including collecting usernames and/or email addresses of members by electronic or other means for the purpose of sending unsolicited email and unauthorized framing of or linking to the Website may be investigated, and appropriate legal action will be taken, including without limitation, civil, criminal, and injunctive redress. Use of the Website is with the permission of Box-Office Blocks, LLC and Lucky Head Films, LLC which may be revoked at any time, for any reason.</p>
					</li>
					<li>
						<p>Your Interactions with Other Members</p>
						<p>In no event shall Box-Office Blocks, LLC or Lucky Head Films, LLC be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to the conduct of you or anyone else in connection with the use of the Website, including without limitation, bodily injury, emotional distress, and/or any other damages resulting from the use of this Service. You understand that Box-Office Blocks, LLC and Lucky Head Films, LLC makes no guarantees, either express or implied, regarding your ultimate satisfaction with the content on the website or any filmed content offered at anytime.</p>
					</li>
					<li>
						<p>Content on www.iamagooddog.com</p>
						<p>Box-Office Blocks, LLC and / or Lucky Head Films, LLC owns and retains all proprietary rights in the Website. The Website contains the copyrighted material, trademarks, and other proprietary information of Box-Office Blocks, LLC and / or Lucky Head Films, LLC and its licensors. Except for that information which is in the public domain or for which you have been given written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.</p>
						<p>Opinions, advice, statements, offers, or other information or content made available through the Service, but not directly by Box-Office Blocks, LLC and / or Lucky Head Films, LLC, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content. Box-Office Blocks, LLC and / or Lucky Head Films, LLC does not: (i) guarantee the accuracy, completeness, or usefulness of any information on the Service, or (ii) adopt, endorse or accept responsibility for the accuracy or reliability of any opinion, advice, or statement made by any party that appears on the Website. Under no circumstances will Box-Office Blocks, LLC, Lucky Head Films, LLC or its affiliates be responsible for any loss or damage resulting from your reliance on information or other content posted on the Website or transmitted to or by any Members.</p>
					</li>
					<li>
						<p>Prohibited Activities</p>
						<p>Box-Office Blocks, LLC and Lucky Head Films, LLC reserves the right to investigate and terminate your Good Dog Block if you have misused the Website, or behaved in a way which could be regarded as inappropriate or whose conduct is unlawful or illegal. The following is a partial list of the type of actions that you may not engage in with respect to the Website:</p>
						<p>You will not impersonate any person or entity.<br /> 
							You will not use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, "data mine", or in any way reproduce or circumvent the navigational structure or presentation of the Website or its contents.</p>
						<p>You will not post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights.<br />
							You will not remove any copyright, trademark or other proprietary rights notices contained in the Website.<br />
							You will not interfere with or disrupt the Website or the site or the servers or networks connected to the Website.<br />
							You will not post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.<br />	
							You will not forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted through the Website. <br />
							You will not "frame" or "mirror" any part of the Website, without prior written authorization of Box-Office Blocks, LLC and / or Lucky Head Films, LLC. You also shall not use meta tags or code or other devices containing any reference to Box-Office Blocks, LLC, Lucky Head Films, LLC or the Website in order to direct any person to any other web site for any purpose. <br />
							You will not modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Website or any software used on or for the Website or cause others to do so.</p>						
					</li>
					<li>
						<p>Customer Service</p>
						<p>Box-Office Blocks, LLC and Lucky Head Films, LLC provides assistance and guidance through its support representatives. When communicating with our representatives, you may not to be abusive, obscene, profane, offensive, sexist, threatening, harassing, racially offensive, or otherwise behave inappropriately. If we feel that your behavior towards any of our representatives or other employees is at any time threatening or offensive, we reserve the right to immediately terminate your Good Dog Block and you will not be entitled to a refund of any kind.</p>
					</li>
					<li>
						<p>Miscellaneous</p>
						<p>(a) General. </p>
						<p>Box-Office Blocks, LLC or Lucky Head Films, LLC will charge you a one-time fee for use of the Website. You agree to pay Box-Office Blocks, LLC or Lucky Head Films, LLC all charges, at the prices then in effect, for any use of the Website by you or other persons (including your agents), and you authorize Box-Office Blocks, LLC and / or Lucky Head Films, LLC to charge your chosen payment provider (your "Payment Method") for use of the Website. You agree to make payment using that available Payment Methods. Box-Office Blocks, LLC and / or Lucky Head Films, LLC reserves the right to correct any errors or mistakes that it makes even if it has already requested or received payment.</p> 
						<p>(b) Purchaser Details.</p>
						<p>A Good Dog Block on the Website consists of a minimum of one 40 x 40 pixel block on a Website (
							<a href="http://www.iamagooddog.com/">www.iamagooddog.com</a>) that will remain live for a minimum of five-years. You will have the right to display an image or logo associated with an animal. All images must be in GIF, PNG or JPEG format, not animated and appropriate for the size of your purchased space. Your GD Block must link to a valid email address or website beginning with http://. Following the confirmation of your order, which is considered done at the point in which you press the CHECKOUT button, you will not have the ability to make changes to your GD Block. However, changes can be made through the administrator, Lucky Head Films, LLC, for such reasons as your site no longer exists, major structural changes to your site, lawsuits, etc… Block changes will be accommodated no more than twice for each GD Block. Your one-time fee, for the purchase of one or multiple grouped GD Block(s) includes one GD Certificate of Recognition, delivered digitally.	
						</p>
						<p>(c) If and when the feature film Good Dogs is complete</p>
						<p>It will be made available to non-profit animal related organizations to screen as a fund-raiser. Non-profit animal related organizations will receive city related, screening priority as follows: 1) Non-profit organizations that are partnered with Lucky Head Films, LLC 2) All other animal related non-profit organizations. In the event that two organizations have the right to screen in the same city, priority will be given at the discretion of Box-Office Blocks, LLC and / or Lucky Head Films, LLC. Box-Office Blocks, LLC and / or Lucky Head Films, LLC reserves the right to modify the screening priority terms at any time and without notice. Special terms apply to organizations located in the state of Oregon and Washington. THE PURCHASE OF A GOOD DOG BLOCK ON THE 
							<a href="http://www.iamagooddog.com/">WWW.IAMAGOODDOG.COM</a>
							 SITE DOES NOT CONSTITUTE AN INVESTMENT OR PURCHASE OF OWNERSHIP IN THE ASSOCIATED WEBSITES, FILM &amp; VIDEO PROJECT (S), IN FUTURE PROJECTS, IN BOX-OFFICE BLOCKS, LLC, IN LUCKY HEAD FILMS, LLC OR ITS SUBSIDIARIES.
						</p>
						<p>(e) Payment Method.</p>
						<p>The terms of your payment will be based on your chosen Payment Method (Paypal) and may be determined by agreements between you and the financial institution, credit card issuer or other provider of your chosen Payment Method (the "Payment Method Provider"). If Box-Office Blocks, LLC and / or Lucky Head Films, LLC does not receive payment from your Payment Method Provider, you agree to pay all amounts due upon demand.</p>
						<p>(f) Refunds Policy.</p>
						<p>With the exception of the rules associated with Paypal, there are no refunds once your GD Block is purchased. The price that you pay at the time you buy your GD Block is final and cannot be refunded. UNLESS OTHERWISE STATED, REFUNDS ARE NOT AVAILABLE, FOR ANY REASON.</p>
					</li>
					<li>
						<p>Contests, Promotions, Contributions</p>
						<p>From time to time, Box-Office Blocks, LLC, Lucky Head Films, LLC or its suppliers, associates and / advertisers may conduct promotions on or through the Site, including, without limitation, auctions, contests, drawings, incentives, discounts, charitable contributions ("Promotions"). Each Promotion may have Additional Terms and / or Rules which will be posted or otherwise made available to you and, for purposes of each Promotion, will be deemed incorporated into and form a part of the Agreement.</p>
					</li>
					<li>
						<p>Modifications to Service</p>
						<p>Box-Office Blocks, LLC and / or Lucky Head Films, LLC reserves the right at any time to modify the Website (or any part thereof) with or without notice. Box-Office Blocks, LLC and / or Lucky Head Films, LLC also reserves the right to discontinue, temporarily or permanently, the Website (or any part thereof) with or without notice, after the agreed upon five year period or before due to force majeure. You agree that Box-Office Blocks, LLC and / or Lucky Head Films, LLC shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Website.</p>
					</li>
					<li>
						<p>Blocking of IP Addresses</p>
						<p>In order to protect the integrity of the Website, Box-Office Blocks, LLC and Lucky Head Films, LLC reserve the right at any time in its sole discretion to block Purchasers from certain IP addresses from accessing the Website.</p>
					</li>
					<li>
						<p>Copyright Policy</p>
						<p>You may not post, distribute, or reproduce in any way, any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights.</p>
					</li>
					<li>
						<p>Privacy</p>
						<p>Use of the Website is also governed by our Privacy Policy.</p>
					</li>
					<li>
						<p>Disclaimers</p>
						<p>Box-Office Blocks, LLC and Lucky Head Films, LLC is not responsible for any incorrect or inaccurate content posted on the Website, whether caused by users of the Website, Purchasers or by any of the equipment or programming associated with or utilized in the Service. Box-Office Blocks, LLC and Lucky Head Films, LLC is not responsible for the conduct, whether online or offline, of any user of the Website or Purchaser of a Good Dog Block. Box-Office Blocks, LLC and Lucky Head Films, LLC assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user or Purchaser communications. Box-Office Blocks, LLC and Lucky Head Films, LLC is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any Website or combination thereof, including injury or damage to users and/or Purchasers or to any other person's computer related to or resulting from participating or downloading materials in connection with the Web and/or in connection with the Website. Under no circumstances will Box-Office Blocks, LLC, Lucky Head Films, LLC or any of its affiliates, advertisers, promoters or distribution partners be responsible for any loss or damage, including personal injury or death, resulting from anyone's use of the Website, any Content posted on the Website or transmitted to Purchasers, or any interactions between users of the Website, whether online or offline. The Website is provided "AS-IS" and Box-Office Blocks, LLC and Lucky Head Films, LLC expressly disclaims any warranty of fitness for a particular purpose or non-infringement. Box-Office Blocks, LLC and Lucky Head Films, LLC cannot guarantee and does not promise any specific results from use of the Website. In addition to the preceding paragraph and other provisions of this Agreement, any advice that may be posted on the Website is for informational and entertainment purposes only and is not intended to replace or substitute for any professional financial, medical, legal, creative or other advice. Box-Office Blocks, LLC and Lucky Head Films, LLC makes no representations or warranties and expressly disclaims any and all liability concerning any treatment, action by, or effect on any person following the information offered or provided within or through the Website. Box-Office Blocks, LLC and Lucky Head Films, LLC shall have the right to abandon the film and PSA projects at its sole discretion at any time, for any reason.</p>
					</li>
					<li>
						<p>Links</p>
						<p>The Website may provide, or third parties may provide, links to other World Wide Web sites or resources. Because Box-Office Blocks, LLC and Lucky Head Films, LLC has limited control over such sites and resources, you acknowledge and agree that Box-Office Blocks, LLC, Lucky Head Films, LLC, www.boxofficeblocks.com, www.boxofficeblocks.net, www.luckyheadfilms.com, www.luckyheadfilms.net, www.iamagooddog.com or any associated web domain variations, is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that Box-Office Blocks, LLC and Lucky Head Films, LLC shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of, or reliance upon, any such Content, goods or services available on or through any such site or resource.</p>
					</li>
					<li>
						<p>Limitation on Liability</p>
						<p>Except in jurisdictions where such provisions are restricted, in no event will Box-Office Blocks, LLC or Lucky Head Films, LLC be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages, including also lost profits arising from your use of the Website, even if Box-Office Blocks, LLC or Lucky Head Films, LLC has been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, Box-Office Blocks, LLC's and Lucky Head Films, LLC's liability to you for any cause whatsoever, and regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to Box-Office Blocks, LLC and / or Lucky Head Films, LLC for the one or more Good Dog Blocks.</p>
					</li>
					<li>
						<p>Jurisdiction and Choice of Law</p>
						<p>If there is any dispute arising out of the Website, by using the Website, you expressly agree that any such dispute shall be governed by the laws of the State of Washington, without regard to its conflict of law provisions, and you expressly agree and consent to the exclusive jurisdiction and venue of the state and federal courts of the State of Washington, in Clark County, for the resolution of any such dispute.</p>
					</li>
					<li>
						<p>Indemnity by You</p>
						<p>You agree to indemnify and hold Box-Office Blocks, LLC and Lucky Head Films, LLC, its subsidiaries, affiliates, officers, agents, and other partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the Website in violation of this Agreement and/or arising from a breach of this Agreement and/or any breach of your representations and warranties set forth above.</p>
					</li>
					<li>
						<p>No Third Party Beneficiaries</p>
						<p>You agree that, except as otherwise expressly provided in this Agreement, there shall be no third party beneficiaries to this Agreement.</p>
					</li>
					<li>
						<p>Other</p>
						<p>Agreement contains the entire agreement between you and Box-Office Blocks, LLC and Lucky Head Films, LLC regarding the use of the Website. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.<br />
					     Please contact us with any questions regarding this agreement. 
					     <a href="http://iamagooddog.com/terms_of_use">www.iamagooddog.com</a>,
					     <a href="http://iamagooddog.com/terms_of_use">www.iamagooddog.net</a>,
					     <a href="http://www.imagooddog.com/">www.imagooddog.com</a>,
					     <a href="http://www.imagooddog.net/">www.imagooddog.net</a>,
					     <a href="http://www.luckyheadfilms.com/">www.luckyheadfilms.com</a>,
					      www.boxofficeblocks.com and www.boxofficeblocks.net are trademarks belonging to Box-Office Blocks, LLC and Lucky Head Films, LLC.
						</p>
					</li>
					<p><b>Our Privacy Policy</b></p>
					<p>It is our priority to ensure that your personal and payment information is secure and your privacy is respected. Below is a description of how we maintain online security and respect your privacy.</p>
					<p><b>Online Security</b></p>
					<p>Whenever you provide any order information, the traffic is "encrypted," or, scrambled, during transfer so that no one else can read it while it is being transmitted over the Internet. </p>
					<p><b>Online Privacy</b></p>
					<p>This Privacy Policy Statement sets forth the privacy policy pertaining to www.iamagooddog.com (the "Site"). By using the Site, you are agreeing to the terms set forth in this Privacy Policy Statement. For other terms and conditions that apply to your use of the Site, please review our Terms of Use Agreement.</p>
					<p>For purposes of this Privacy Policy Statement, "Personal Information" means any information by which you can be personally identified, and includes your name, your address, your telephone number, your e-mail address and the like. Box-Office Blocks, LLC and / or Lucky Head Films, LLC collects Personal Information only when you voluntarily submit such Personal Information to us, such as when purchasing a GOOD DOG BLOCK and so on.</p>
					<p>Box-Office Blocks, LLC and / or Lucky Head Films, LLC does not collect personally identifiable information from any person under the age of eighteen, and if you are under eighteen, please give us parental contact information or exit this site.</p>
					<p>For each visitor to the Site, our web servers automatically recognize information regarding the visitor's domain name (or that of the visitor's access provider) and e-mail address. Regardless of the purpose for which it is submitted, it is our policy to maintain all Personal Information as confidential, and to use such Personal Information for the following purposes:</p>
					<ul>
						<li>
							<p>for the specific purpose for which it was volunteered (for example, to purchase a GOOD DOG BLOCK, etc.);</p>
						</li>
						<li>
							<p>to improve the content, appearance and utility of the Site;</p>
						</li>
						<li>
							<p>to track our visitors' use of the Site for internal purposes; and </p>
						</li>
						<li>
							<p>to notify our visitors of updates to the Site.</p>
						</li>
						<li>
							<p>to develop desirable future projects. </p>
						</li>
					</ul>
					<p></p>
					<p>It is our policy to keep Personal Information only for so long as needed for such purposes. At any time, you may obtain a summary of the Personal Information on record with Lucky Head Films which has been collected about you via this Site. Except for Personal Information we need to complete your transactions, you may request at any time that Box-Office Blocks, LLC and / or Lucky Head Films, LLC dispose of any or all Personal Information about you. In addition, at any time you may request that Box-Office Blocks, LLC and / or Lucky Head Films, LLC correct any such Personal Information; or that such Personal Information be removed from our databases.</p>
					<p>To make any request described above, send an e-mail to 
						<a href="mailto:support@luckyheadfilms.com">support</a>  or write to: 
					</p>
					<p>Lucky Head Films</p>
					<p>PO Box 643</p>
					<p>La Center, WA 98629</p>
					<p>When contacting us, please be sure to provide us with your exact e-mail address, name, address and/or telephone number(s) in order to be sure we handle your request correctly.</p>
					<p><b>Requesting To Be Removed From Email Lists</b></p>
					<p>If you do not wish to receive email from Box-Office Blocks, LLC or Lucky Head Films, LLC in the future, please email us at 
						<a href="mailto:support@luckyheadfilms.com">support</a> to be removed from our email list.
					</p>
					<p>Box-Office Blocks, LLC and Lucky Head Films, LLC reserves the right, at its discretion, to change, modify, add, or remove portions of this Privacy Policy Statement at any time. You should check this page periodically for changes. Your continued use of this Site following the posting of changes to this Privacy Policy Statement will mean that you accept those changes.</p>
					<p><b>Conditions of Purchase</b></p>			
					<ol>
						<li>
							<p>Minimum Purchase is<b>1 Good Dog Block</b>(40x40 pixel block) for $1.00. Feel free to buy as many blocks as you like.</p>
						</li>
						<li>
							<p>You are purchasing a GD Block on a website that will remain live for a <u>minimum</u> of 5 years.</p>
						</li>
						<li>
							<p>Images must be in GIF, PNG or JPEG format and not animated. <b>No obscene, offensive or adult images are allowed.</b></p>
						</li>
						<li>
							<p>Your GD Block must link to a valid email address or web page beginning with http:// - you will also have the option to link to a non-profit animal organization as a courtesy to them or have no link. No obscene, offensive or adult links are allowed.</p>
						</li>
						<li>
							<p>You will not be able to change your selected image, link or associated information once you have purchased the GD Blocks, so you must be sure of the image and link that you submit. Changes are only accommodated twice and for reasons such as your site no longer existing, major structural changes to your site, lawsuits, etc...</p>
						</li>
						<li>
							<p>After payment is received your GD Block will be active. Your link, description and image will be reviewed by a live person within 48 hours and periodically following this time.</p>
						</li>
						<li>
							<p>If you wish to pay using a check or money order, please contact us and we will send you an electronic order form that you can print out and send in with your payment. Please allow at least 1-2 weeks for your payment to clear and your GD Block Code to be forwarded to you.</p>
						</li>
						<li>
							<p><img src="assets/footprint.png" alt="">This image will appear for blocks that are in the process of being purchased.</p>
						</li>
						<li>
							<p>There are no refunds once your GD Block is purchased. The price that you pay at the time you buy your GD Block is final and cannot be refunded. </p>
						</li>
						<li>
							<p>It will be up to the recipient of any GD Gift Codes to select a Good Dog Block and enter all the necessary information. If an individual fails to redeem their GD Gift Code before all blocks are sold, they will forfeit their rights to a block. This also applies to complimentary GD Gift Codes.</p>
						</li>
						<li>
							<p>No obscene, offensive, adult, illegal images, links or description will be accepted. We decide what is appropriate for the site. If your GD Block is found to represent unacceptable material, your GD Block will be made inactive and you will have two weeks to provide an alternative image, description and / or link. If you cannot provide an alternative within two weeks, your money will not be refunded and you will lose your GD Block.</p>
						</li>
						<li>
							<p>If your GD Block(s) is reviewed and you later change the content of the linked site to show offensive, obscene, adult or illegal material then your GD Block will be removed, the space will become publicly available again, and you will not get a refund.</p>
						</li>
						<li>
							<p>You can request your image to be removed at any time but the space will become publicly available again and you will not receive a refund. </p>
						</li>
						<li>
							<p>Although we will not change or remove your image under normal circumstances, we reserve the right to do so under exceptional circumstances such as a court order, lawsuit or public outcry. When a removal happens, the space will become publicly available and you will not receive a refund.</p>
						</li>
						<li>
							<p>You must have the legal right to use the image you provide for your block.</p>
						</li>
						<li>
							<p>There might be occasional downtime for site maintenance but it will be minimal. </p>
						</li>
						<li>
							<p>When you purchase a GD Block featuring a "Virtual Dog", you do not own, nor have any rights to, nor have any responsibility for the actual living dog represented as a "Virtual Dog". </p>
						</li>
						<li>
							<p>If and when the feature film <u>Good Dogs</u> is complete, it will be made available to non-profit, animal related organizations to screen as a fund-raiser. Screening priority will be given as outlined in the Terms of Use Agreement. We reserve the right to abandon the movie project at any point, for any reason. But please know that the chances of us abandoning this project are next to nil. </p>
						</li>
						<li>
							<p>When you purchase a GD Block, you do not own any part of this homepage, this site, any and all associated companies or the film “Good Dogs”. Through this site you are granted only the right to submit an image and link, which will then be published on a page in the respective space you have paid for.</p>
						</li>
					</ol>
				</ol>			
			</div>
	</div>
</div>