<div id="overview">
	<div class="container">
		<h2><b>Overview</b></h2>
		<div>
		<h3>What's it all about?</h3>
		<img src="assets/popcorn.jpg" class="alignright_pc" alt="">
		<p>Tinted Glass Films and Box‐Office Blocks, LLC are happy to present www.myfaithshines.com, a website
			designed to share a message of faith and hope while supporting your organization and raising funds to
			produce the feature film "Born to Overcome".</p>
		<p>With the support of numerous churches, church members and businesses, this three phase project first
			offers a unique web experience that displays the testimony of thousands of people whose lives have
			been touched by the Lord.</p>
		<p>During the second phase, when the production of the film begins, individuals will be invited to watch the
			making of the film online.</p>
		<p>In the third phase, the feature film is delivered to all the participating churches to screen as a fundraiser
			where each church keeps 100% of the proceeds.</p>
		<p>Ready to build a Faith Block? <%=link_to 'Get Started!', getstarted_path %>. Are you a non-profit and would like to participate?  
			<a href="mailto:info@tintedglassfilms.com">Contact us</a>!
		</p> 
		<br/>
		 </div>
		 <div>
		 <h3>What is the film about? Who are the filmmakers?</h3>
		 <p><b>The Film:</b></p>
		 <p>"A deeply faithful social worker taps into his childhood experiences of racial prejudice, family
				dysfunction and a severe learning disability, to help an at‐risk teen and the boy's family cope with the
				consequences of a recent tragedy."</p>
		  <p>IInspired by actual events, "Born to Overcome" will be shot in Indianapolis, IN and Portland, OR by
			accomplished and award‐winning filmmakers. With over 25 combined years of filmmaking experience,
			the production team of Tinted Glass Films is dedicated to delivering a studio quality picture with an
			independent spirit.</p>
		  </div>
		  <div>
		  	<p><b>The Film's Producers: </b></p>
			  	<table>
				  	<tr>
				  		<td><img src='assets/Russell.jpg' class='tableheadimg' alt='Russell'></td>
				  		<td class='tableheadtxt'><p>Russell C. Goeins III is a screenwriter and producer who has a passion for unique and creative story
							telling. Originally from the Philadelphia area, Russell and his beautiful wife of twenty‐one years moved
							to the Orlando Florida area in 2003.</p>
						  <p>In 2010, he attended the Peach Tree Film festival in Atlanta Georgia, where his original spec script
							entitled "Skin and Bones" garnered the attention of several writers, producers and directors and has
							since led to numerous writing jobs.</p>
						  <p>Russell graduated from World Harvest Bible School in 1996 where he earned a certificate of Christian
							Ministry. He has a passion for public speaking and is an active leader and teacher in his local church.</p>
						</td>
				  	</tr>
				</table>
		 </div>
		 <div style="clear:both;">
			 <table>
			  	<tr>
			  		<td><img src='assets/Rebecca.jpg' class='tableheadimg' style="margin-bottom: 50px;" alt='Rebecca'></td>
			  		<td class='tableheadtxt'>
			  			<p>R.A. Rodriguez is an award‐winning filmmaker from the Pacific Northwest. She began her career in
							2000, debuting two short films that premiered at the Philadelphia Festival of World Cinema and the
							Seattle International Film Festival. As a result of the positive reviews, both films were optioned and
							distributed by the short film division of Universal Studios.
						</p>
						<p>To date she has written, produced and directed a collection of short films, numerous commercials,
							several music videos and one feature film, "Coming Up Easy" that is currently being used as an
							educational tool in domestic violence and child endangerment awareness programs.
					 	</p>
						<p>She received the Best Feature Award at the Reel Women International Film Festival in Los Angeles, 2005
							as well as the Best Feature by a Northwest Filmmaker Award from the Far From Hollywood Society in
							Portland, Oregon.
						</p>
						<p>She is currently focusing on various film and writing projects and on making the world a better place for
							people and animals.
						</p>
					</td>
			  	</tr>
			  </table>
		   </div>
		  
		  <div>
			  <p><b>The Film's Director: </b></p>
			  <table>
			  	<tr>
			  		<td>
			  			<img src='assets/Derek.jpg' class='tableheadimg' alt='Derek'>
			  		</td>
			  		<td class='tableheadtxt'>	  
					  <p>Derek Dow is a man of great integrity, humility and determination. This talented, young filmmaker was
						born in the Englewood community on the southside of Chicago and grew up in a single‐parent home.
						While facing the same obstacles that many inner‐city children experience, Derek found an escape
						through art.
					  </p>
					  <p>Before even attending film school, Derek wrote and directed several credited works including a feature
						film entitled “Family Values” which won the Audience Award at the Black Harvest International Festival
						of Film, Video and TV.
					  </p>
					  <p>Derek currently attends USC where he is working towards his Master’s Degree in The School of
						Cinematic Arts. His short film, “This Ain’t Yo Movie”, produced while in the USC program, is currently
						making its way through the film festival circuit.
					  </p>
					</td>
				</tr>
			  </table>
	  	  </div>
	  
	  <div>
		  <p><b>The Film's Composer and Music Producer: </b></p>
		  
		  <table>
		  	<tr>
		  		<td>
		  			<img src='assets/Mano_2.jpg' class='tableheadimg' style="margin-bottom: 50px;" alt='Mano'>
		   		</td>
		  		<td class='tableheadtxt'>
		  			<p>Luther “Mano” Hanes is the founder, President and CEO of Riverphlo Entertainment, a full service
						entertainment company that employs innovative strategies for an evolving music industry. The
						company, which is based in Los Angeles, CA, features an artist‐centered approach to the promotion and
						production of music.
					  </p>
					  <p>In 2009 Riverphlo became a full service label, signing as its first artist, the legendary and iconic Andraé
						Crouch. In February 2011, Riverphlo released “The Promise,” a single from Crouch’s GRAMMY
						nominated album, The Journey, which was released on September 27, 2011.
					  </p>
				  	  <p>The breakout hit from that album was the newly‐minted Gospel classic, “Let The Church Say Amen.”
						Billboard Magazine cited the single, which spent over 70 weeks at the top of the charts, as the 2012
						Gospel Song of the Year. Largely due to the popularity of the tune, Crouch was nominated for five Stellar
						Awards, a NAACP Image Award, three Dove Awards, and the aforementioned GRAMMY nomination.
				  		</p>
		  		</td>
		  	</tr>
		  </table>
	  	</div>
	</div>
	<div class="text">
		<h3>What comes with my Faith Block?</h3>
		<ul style="font-size: 15px;">
			<li>A linkable, 40x40 pixel Faith Block on the website www.myfaithshines.com. <b>A one of a kind!</b></li>
			<li>An official Certificate of Recognition (digital download). <b>Print it! Frame it! Hang it!</b></li>
			<li>An opportunity to share a message of hope with the world. <b>Walk with us!</b></li>
			<li>An opportunity to support independent filmmaking. <b>Supporting the arts is noble!</b></li>		
		</ul>
		<br />
		<h3>Payment</h3>
		<p>This website is designed to accept credit card payments using PayPal, a trusted payment service on the Internet. You do not need a Paypal account to use this option.</p> 
		<p class="review">For additional information please review our <%= link_to 'Terms and Conditions', legal_mumbo_path %> </p>
		
	</div>
</div>
