<div id="overview">
	<div class="conteiner">
		<h2><b>THE BIG PICTURE</b></h2>
		<img src="assets/wolf.png" class="alignright" width="296" height="406" alt="">
		<h3>What's it all about?</h3>
		<p>Lucky Head Films and Box-Office Blocks are happy to present iamagooddog.com, a website that's all about helping animals and having fun. The site,
			 which offers Good Dog Blocks at $1US each, will raise thousands of dollars for non-profit animal groups across America as well as fund the production of a feature film entitled 
			 "Good Dogs". Once complete, the film will be made available (at no charge) to non-profit animal groups everywhere, to screen as a fund-raiser.</p>
		<p>Once all the Good Dog Blocks are sold and production of the film begins, you and your Good Dog will have the opportunity to win cool prizes like a walk-on role in the film,
			 autographed memorabilia, an invitation to the premiere, t-shirts, dog toys, posters, etc... The website itself will stand (for a minimum of five years) as a reflection of a group of Good Dogs
			 (and their loving humans) that came together and helped make a difference for less fortunate animals. </p>
		<p>Ready to build a Good Dog Block? <%=link_to 'Get Started!', getstarted_path %>. Are you a non-profit and would like to participate?  
			<a href="mailto:info@luckyheadfilms.com">Contact us</a>!</p> 
		 <h3>What is the film about? Who is the filmmaker?</h3>
		 <img src="assets/popcorn.jpg" class="alignleft" alt="">
		 <p><b>The Film:</b></p>
		 <p>"Good Dogs" tells the story of Detective Solomon Speck who is riding the missing persons desk during his last month on the force. When the Director of the local humane society is reported
			 missing, Speck adds the case to his workload and anticipates the common resolution within the first twenty-four hours. But as the interviews unfold, Speck finds himself with a growing 
			 list of suspects and a case that could very well be murder. </p>
		  <p>In his search for answers, Speck discovers an environment filled with contradiction: compassion and hostility; tenderness and dark humor; loved but unwanted animals. And as the truth begins to
			  materialize, Speck must decide between upholding the law and letting sleeping dogs lie. Mystery, romance and an ending that gives new meaning to rooting for the underdog. </p>
		  <p><b>The Filmmaker: </b></p>
		  <p>Rebecca A. Rodriguez is an award-winning filmmaker and animal advocate living in the Pacific Northwest. She has been working for animals since starting a humane society on the island of Guam in 1989.
			 She started writing screenplays in 1998 and began directing in 2000. </p>
		  <p>She has written, produced and directed several short films, commercials, music videos and one feature film (Best Feature, Reel Women International Film Festival). 
			 Her work has screened at numerous film festivals like The Seattle International Film Festival, The Philadelphia Festival of World Cinema, American Short Shorts Japan and Singapore and 
			 Palm Springs International Film Festival. You may have seen her short film "Floater" which screened several times on Showtime.</p>
		  <p>Aside from animals and movies - she loves gardening, old cars, reading and watching the chipmunks eat strawberries in her garden. Feel free to visit the following websites to learn a bit more about her.  </p>
		  <p><a href="http://www.luckyheadfilms.com" class="lucky" target="_blank"> http://www.luckyheadfilms.com </a>(her film website)<br />
		  	 <a href="http://www.evacsak.net" class="evacsak" target="_blank"> http://www.evacsak.net</a>(one of her inventions)<br />
		   	 <a href="http://www.guamanimals.org" class="guamanimals" target="_blank"> http://www.guamanimals.org</a>(the organization she started in 1989)
		  </p>
		  <img src="assets/rebecca_with_puppies.jpg" class="alignleft" alt="">
		  <img src="assets/rebecca-flung.jpg" class="alignleft" alt="">	  
	</div>
	<div class="text">
		<h3>What do I get for my $1?</h3>
		<ul class="list">
			<li>A linkable, 40x40 pixel Good Dog Block on the website www.iamagooddog.com. <b>The first of its kind!</b></li>
			<li>An official Good Dog Certificate of Recognition (digital download). <b>Print it! Frame it! Hang it!</b></li>
			<li>An opportunity to contribute to improving the quality of life for less fortunate animals. <b>Feel the love!</b></li>
			<li>An opportunity to support independent filmmaking. <b>Supporting the arts is noble!</b></li>		
		</ul>
		<br />
		<h3>Payment</h3>
		<p>This website is designed to accept credit card payments using PayPal, a trusted payment service on the Internet. You do not need a Paypal account to use this option.</p> 
		<p class="review">For additional information please review our <%= link_to 'Legal Mumbo Jumbo', legal_mumbo_path %> </p>
		
	</div>
</div>
