
<div id="promotions">
	<h2>Promotions</h2>
	<div class="container" style="float:left; width: 600px;">		
		<h3>Special Drawings </h3>
		<p>At the point in which 500 hundred Faith Blocks are sold and / or occupied on each Church’s page, a
drawing will be held. The names of all the individuals occupying the 500 blocks will be put into a “hat”
and one lucky winner will be selected. Each block serves as one entry into the drawing. The winner will
receive a Gift Bag valued at $25 or more.</p>
		
		<p>For additional information related to this promotions, please contact <a href="mailto:info@tintedglassfilms.com">Tinted Glass Films</a></p>
	</div>
	<img src='assets/MP900422180.JPG' style="float:right; width: 200px; margin: 20px 20px 20px 20px;">
</div>