<div id= "spread">
	<div class="containers" style="float:left; width: 600px;">
		<h2><b>Spread The Word</b></h2>
		<p><b>The "My Faith Shines Project" effort will only work if it spreads. We need your help and here’s how you
			can pitch in:</b></p>
		
		<h3><b>Tell a Friend</b></h3>
		<p><i>Copy and Paste the following message and send it to your friends.</i></p>
		<p>Dear</p>
		<p>Because of your strength in faith, I thought you'd be interested in hearing about a great effort.
			<a href="http://www.myfaithshines.com" class="iamagoodog"> http://myfaithshines.com </a> is a website that is bringing together people to help make a movie that
			will serve as a fund‐raising tool for Churches all over the U.S.
			</p>
		<p>When you buy a Faith Block you get:</p>
		<ul class="li">
			<li>A linkable, 40 x 40 pixel block that displays a photo of your choosing</li>
			<li>An official ”Shining Faith” Certificate of Recognition</li>
		</ul>
		<p>You will also a share in the glory of having helped Churches raise funds to continue spreading the word.
			Visit <a href="http://www.myfaithshines.com" class="iamagoodog"> http://myfaithshines.com</a> today ‐ you won't regret it!
		</p>
		<p>Walk with us!</p>
	</div>
	<img id="dog_img" src="assets/MP900400145.JPG" style="float: right; width: 250px;"/>
</div>
