<div style="width: 890px; margin-bottom: 80px">
	<img src="/assets/landing_page.jpg" style="width: 890px" />
</div>

<div id = "confirm_room">
	
	<h2>THANKS!</h2>
	<p>You just did a GREAT thing! Once your payment has been processed your block will
be LIVE - which could be NOW! A receipt and a special gift will be emailed to you. To
view your block, <%= link_to "go home", root_path %> and then to the non-profit page that you selected.<p>
	<br /><br />
	<p>Thanks for your support!</p>
	<br /> 
	<p>Power to the Paw!</p>
		

</div>


