<div id = "confirmation_image">
	<img src="/assets/MP900407485.JPG" />
</div>

<div id = "confirm_room" style="float: left">
	
	<h2>THANK YOU SO MUCH!</h2>
	<p>You just did a WONDERFUL thing! Once your payment has been processed, your block will be LIVE - which 
		could be NOW! A receipt and a special gift will be emailed to you. To view your block,
		 <%= link_to "go home", root_path %>  and then to the non-profit page that you selected.
    <p>
	<br /><br />
	<p>Thanks for your support!</p>
	<br /> 
	<p>The <%= $sitename %> Team</p>
		

</div>


