
#all_sponsors{
  
  .sponsors_list{
    margin-top:40px;
  }
  
  .img{
    height: 80px;
    width: 80px;
  }
  
  .img_sp_conteiner{
   display: inline-block;
   width: 100px;
   text-align: center;
   margin-bottom: 10px;   
  }
 
}
