
#gift_info{
table{
        tr > td { 
          width: 110px;
          font-size: 14px;
        }   
      }
      
.info_title{
    color: #FF9506;    
    font-size: 14px;
    margin-bottom: 1.25em; 
 }
 

}
 