#flash_message_wrapper{
  width: 350px;
  margin: 0 auto;
}

.notice, .error, .warning, .info, .alert  {
font-weight: bold;
margin: 0 0 15px 0;

padding: 5px 5px 5px 27px;
}

.notice {
border: 1px solid #9c9;
background: #e2f9e3 url(../assets/tick.png) no-repeat 5px center;
color: #060;
display:none;
}

.error, .alert {
border: 1px solid #c68484;
background: #fcc url(../assets/cross.png) no-repeat 5px center;
color: #c00;
text-align: center;
}

.warning {
border: 1px solid #dd0;
background: #ffc url(../assets/error.png) no-repeat 5px center;
color: #000;
}

.info {
border: 1px solid #82c2d4;
background: #ebf5f8 url(../assets/information.png) no-repeat 5px center;
color: #000;
}


