 #get_us{
   
 p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 13px;
    text-align: justify;
  }
  
  #text{
    margin: 15px;
    padding: 0;
    display: inline-block;
  }
  
  img{
    float: right;
  }  
  
  
 }