#get_started_wrapper{
  //display:inline;
 // float:left;

  span{
    margin-right: 15px;
    color:#DB7F0A;
    font-family: "Trebuchet MS";
  }
  #button{
    margin-left: 15px;
  }
  
  #sign_button{
    display: inline;
    float: left;
    margin-left: 210px;
    margin-right: 65px;
  }
}

#img_dog{
  img{
    float: right; 
    width: 300px;
  }

}
