// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  //background: url("../assets/bg-body.gif");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}
#page
{

}

#body_background
{
  
  background: url("../assets/MFS_Navigation_Bar_V1.jpg");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0; 
  height: 50px;
  margin-top: 10px;
}
#black_line
{
 height:15px;
 background-color: black; 
}

#header_layout
{
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 955px;
}
#header_layout a#logo
{
  position: relative;
  z-index: 100;
}
#header_layout a#logo img
{
  width:0px;
  border: 0;
}
#header_layout ul.navigation
{
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  //width: 744px;
  padding-top: 15px;
  text-align:center;
 // margin-top:-82px;
}
#header_layout ul.navigation li
{
  float: left;
  height: 35px;
  width: 124px;
}
#header_layout ul.navigation li.active
{
 // background: url("../assets/menu.gif");
  //background-position: 16px -160px;
  //background-repeat: no-repeat;      
    background: -webkit-gradient(radial, 80% 20%, 0, 80% 40%, 100, from(#C89305), to(#603912)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(75% 43%, closest-corner, #C89305, #603912);   /* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(80% 20%, closest-corner, #C89305, #603912);   /* Firefox 3.6+ */
}
#header_layout ul.navigation li a{
  background: url("../assets/menu-separator.gif");
  background-position: right;
  background-repeat: no-repeat;
  color: #2c1d00;
  display: inline-block;
  font-family: "Trebuchet MS";
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  padding: 0 14px 0 20px;
  text-align: center;
  text-decoration: none;
  width: 91px;
}


#header_layout ul.navigation li a:hover
{
  color: #ffffff;
}
#banner
{
  margin: 0 auto;
  text-align:center;
  
  img{
    height:120px;
  }
}
#body
{
  min-height:500px;
}
#body div.banner
{
  background: url("../assets/dog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 606px;
}
#body div#content
{
  background-image: none;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  width: 960px;
}
#body div#content .content
{
  background-image: none;
  float: left;
  height: auto;
  margin-right: 20px;
  overflow: hidden;
  width: 640px;
}
#body #content .content h2
{
  font-family: "Trebuchet MS";
  margin: 80px 0 0 30px;
}


#body #content .content ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#body #content .content ul li
{
  float: left;
  height: auto;
  line-height: 25px;
  margin: 0 0 20px 0;
  padding: 0 10px;
  width: 300px;
}
#body #content .content ul li span
{
  display: block;
}
#body #content .content ul li span a
{
  color: #7F7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-decoration: none;
}
#body #content .content ul li span a:hover
{
  color: #000000;
}
#body #content .content ul li span a.more
{
  color: #FFAD00;
  text-decoration: none;
}
#body #content .content ul li span a.more:hover
{
  color: #ff6600;
  text-decoration: none;
}
#body #content .content ul li a
{
  text-decoration: none;
}
#body #content .content ul li a:hover
{
  color: #F8F3E9;
}
#body #content .content ul li a.more
{
  color: #FFAD00;
  text-decoration: none;
}
#body #content .content ul li a.more:hover
{
  color: #ff6600;
  text-decoration: none;
}
#body #content .content ul li h2
{
  font-family: "Trebuchet MS";
  font-size: 20px;
  margin: 0;
}
#body #content .content ul li p
{
  color: #7f7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  margin: 0;
  text-align: justify;
}
#body #content .content ul li p a
{
  color: #FF9E01;
}
#body #content .content ul li p a:hover
{
  color: #7f7154;
}
#body #content .content ul li img
{
  border: 0;
  float: left;
  margin-right: 10px;
}
#body #content .content ul.articles
{
  background-image: none;
  list-tyle-type: none;
  margin: 80px 25px 0 0;
  padding: 0;
  width: 640px;
}
#body #content .content ul.articles li
{
  clear: both;
  padding: 0;
  width: 640px;
}
#body #content .content ul.articles li
{
  background: url("../assets/bg-blog-bottom-curve.gif");
  background-position: left bottom;
  background-repeat: no-repeat;
}
#body #content .content ul.articles li div
{
  background: url("../assets/bg-blog-heading.gif");
  background-position: top center;
  background-repeat: no-repeat;
  height: 98px;
  line-height: 78px;
}
#body #content .content ul.articles li p
{
  background: url("../assets/bg-blog-content.gif");
  background-position: left;
  background-repeat: repeat-y;
  font-family: "Trebuchet MS";
  font-size: 14px;
  margin: -10px 0 8px 0;
  padding: 0 10px 0 48px;
}
#body #content .content ul.articles li p a
{
  color: #FF9D13;
}
#body #content .content ul.articles li p a:hover
{
  color: #7F7154;
}
#body #content .content ul.articles li div span
{
  color: #ffffff;
  float: left;
  font-family: "Trebuchet MS";
  font-size: 18px;
  text-align: center;
  width: 110px;
}
#body #content .content ul.articles li div h2
{
  color: #FF9D13;
  float: left;
  font-size: 28px;
  font-weight: normal;
  width: 450px;
}
#body #content .content div a.old
{
  background: url("../assets/top-border-short.gif");
  background-position: top center;
  background-repeat: no-repeat;
  color: #7F7154;
  display: inline-block;
  font-family: "Trebuchet MS";
  height: 35px;
  left: 400px;
  line-height: 35px;
  margin-bottom: 50px;
  margin-top: 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 118px;
}
#body #content .content div a.new
{
  background: url("../assets/top-border-short.gif");
  background-position: top center;
  background-repeat: no-repeat;
  color: #7F7154;
  display: inline-block;
  font-family: "Trebuchet MS";
  height: 35px;
  left: 40px;
  line-height: 35px;
  margin-bottom: 50px;
  margin-top: 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 118px;
}
#body #content .content div a.old:hover
{
  color: #000000;
}
#body #content .content div a.new:hover
{
  color: #000000;
}
#body #content .content ul.articles li a.heart
{
  background: url("../assets/icons.gif");
  background-position: 5px -374px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-top: 25px;
  width: 20px;
}
#body #content .content ul.articles li a.facebook
{
  background: url("../assets/icons.gif");
  background-position: 0 -124px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
#body #content .content ul.articles li a.twitter
{
  background: url("../assets/icons.gif");
  background-position: 0 -534px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
#body #content .search
{
  background: url("../assets/bg-search-form2.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 540px;
}
#body #content .search input
{
  background: url("../assets/input-search2.gif");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  color: #7f7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  margin: 5px 3px 5px 10px;
  padding: 8px 5px;
  width: 420px;
}
#body #content .search button
{
  background: url("../assets/buttons.gif");
  background-position: 0 -270px;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 30px;
  margin: 5px 5px 5px 0;
  width: 77px;
}
#body #content .search label
{
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 14px;
}
#body #content .search label input
{
  background: transparent;
  margin: 0 10px 0 10px;
  width: 10px;
}
#body #content .content .about
{
  height: auto;
  overflow: hidden;
  width: 640px;
}
#body #content .content .about h2
{
  font-family: "Trebuchet MS";
  margin: 80px 0 0 30px;
}
#body #content .content .about ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#body #content .content .about ul li
{
  clear: both;
  padding: 20px 10px 0 30px;
  width: 600px;
}
#body #content .content .about ul li h2
{
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#body #content .content .about ul li h2 a
{
  color: #ff9506;
  font-family: "Trebuchet MS";
  font-size: 24 px;
  text-decoration: none;
}
#body #content .content .about ul li h2 a:hover
{
  color: #7F7154;
}
#body #content .content .about ul li p
{
  color: #7F7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-align: justify;
}
#body #content .content .about ul li p span
{
  display: block;
}
#body #content .content .about ul li p a
{
  color: #000000;
  text-decoration: underline;
}
#body #content .content .about ul li p a:hover
{
  color: #7F7154;
}
#body #content .content div p
{
  color: #7F7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  line-height: 25px;
  margin: 10px 0 0 30px;
  padding: 0 15px 0 0;
}
#body #content .content div p a
{
  color: #FF9E01;
}
#body #content .content div p a:hover
{
  color: #7F7154;
}
#body #content .content ul.connect
{
  font-family: "Trebuchet MS";
  margin: 50px 0 0 30px;
}
#body #content .content ul.connect li
{
  margin-top: 20px;
  width: 400px;
  width: 640px;
}
#body #content .content ul.connect li h2
{
  border-color: #ccc;
  border-left: none;
  border-right: none;
  border-style: solid;
  border-top: none;
  border-width: 1px;
}
#body #content .content ul.connect li span
{
  display: block;
}
#body #content .content ul.connect li span a
{
  color: #FF9E01;
}
#body #content .content ul.connect li span a:hover
{
  color: #7F7154;
}
#body #content .content ul.section
{
  height: auto;
  list-style-type: none;
  margin: 80px 0 0 30px;
  overflow: hidden;
  width: 580px;
}
#body #content .content ul.section li
{
  float: left;
  height: 250px;
  margin: 0 50px 10px 0;
  padding: 0;
  width: 240px;
}
#body #content .content ul.section li h2
{
  background-color: #ff9d13;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#body #content .content .paging
{
  background: url("../assets/border-dotted.gif");
  background-position: top;
  background-repeat: repeat-x;
  height: 80px;
  margin: 0 0 20px 40px;
  width: 480px;
}
#body #content .content .paging a
{
  background: url("../assets/buttons.gif");
  background-position: 0 -90px;
  background-repeat: repeat-x;
  color: #ffffff;
  float: left;
  font-family: "Trebuchet MS";
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin: 20px 5px 20px 5px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
#body #content .content .paging a:hover
{
  color: #000000;
}
#body #content .content .paging a.active
{
  background: url("../assets/buttons.gif");
  background-position: 0 0;
  background-repeat: repeat-x;
}
#body #content .content .paging a.next
{
  background: url("../assets/buttons.gif");
  background-position: 0 -180px;
  background-repeat: repeat-x;
  height: 40px;
  width: 100px;
}
#body #content #sidebar
{
  background-image: none;
  float: right;
  width: 300px;
  margin-bottom: 40px;
}
#body #content #sidebar div#section
{
  background: url("../assets/bg-sidebar-heading.gif");
  background-position: top center;
  background-repeat: no-repeat;
  height: auto;
  margin-top: 0px;
  overflow: hidden;
}
#body #content #sidebar div#section div
{
  background: url("../assets/bg-sidebar-bottom-curve.gif");
  background-position: bottom center;
  background-repeat: no-repeat;
  height: auto;
  padding: 12px 4px 12px 4px;
}
#body #content #sidebar div#section div div
{
  background: url("../assets/bg-sidebar.gif");
  background-position: center;
  height: auto;
  overflow: hidden;
}
#body #content #sidebar div#section div div h2
{
  font-family: "Trebuchet MS";
  font-size: 21px;
  font-weight: normal;
  margin-left: 23px;
}
#body #content #sidebar div#section div div ul
{
  list-style-type: none;
  margin-left: 20px;
}
#body #content #sidebar div#section div div ul li
{
  margin-bottom: 5px;
}
#body #content #sidebar div#section div div ul li a
{
  color: #7F7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-decoration: none;
}
#body #content #sidebar div#section div div ul.archive
{
  margin: 0;
  padding: 0 0 0 30px;
  width: 210px;
}
#body #content #sidebar div#section div div ul.archive li
{
  background: url("../assets/top-border-long.gif");
  background-position: top center;
  background-repeat: no-repeat;
}
#body #content #sidebar div#section div div ul.archive li a
{
  background: url("../assets/icons.gif");
  background-position: 190px 20px;
  background-repeat: no-repeat;
  color: #7F7154;
  color: #FF9D13;
  display: inline-block;
  font-family: "Trebuchet MS";
  font-size: 18px;
  line-height: 50px;
  width: 210px;
}
#body #content #sidebar div#section div div ul.archive li a.active
{
  background: url("../assets/icons.gif");
  background-position: 190px -42px;
  background-repeat: no-repeat;
  color: #FF9D13;
}
#body #content #sidebar div#section div div ul.archive li ul li
{
  background-image: none;
  height: 20px;
  padding: 0;
}
#body #content #sidebar div#section div div ul.archive li ul
{
  background: url("../assets/top-border-long.gif");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 0 30px -20px;
}
#body #content #sidebar div#section div div ul.archive li ul li a
{
  background-image: none;
  color: #7F7154;
  display: inline-block;
}
#body #content #sidebar div#section div div ul.archive li ul li a:hover
{
  color: #FF9D13;
}
#body #content #sidebar div#section div div ul li a:hover
{
  color: #ff9d13;
}
#body #content #sidebar div#section div div ul li a span
{
  color: #ff9d13;
}
#body #content #sidebar a img
{
  border: 0;
}
#body #content #sidebar .search
{
  background: url("../assets/bg-search-form.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  margin: 0;
  width: 300px;
}
#body #content #sidebar .search input
{
  background: url("../assets/input-search.gif");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  color: #7f7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  margin: 5px 3px 5px 10px;
  padding: 8px 5px;
  width: 190px;
}
#body #content #sidebar .search button
{
  background: url("../assets/buttons.gif");
  background-position: 0 -270px;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 30px;
  margin: 5px 5px 5px 0;
  width: 77px;
}
#body #content #sidebar .search label
{
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 14px;
}
#body #content #sidebar .search label input
{
  background: transparent;
  margin: 0 10px 0 10px;
  width: 10px;
}
#body #content #sidebar .section
{
  margin-top: 30px;
  width: 300px;
}
#body #content #sidebar .section .aside
{
  background: url("../assets/bg-sidebar-top.gif");
  background-position: center top;
  background-repeat: no-repeat;
  height: auto;
  margin: 0 0 20px 0;
  padding-top: 4px;
  width: 300px;
}
#body #content #sidebar .section .aside div
{
  background: url("../assets/bg-sidebar-bottom.gif");
  background-position: center bottom;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 4px;
  width: 300px;
}
#body #content #sidebar .section .aside div div
{
  background: url("../assets/bg-sidebar-mid.gif");
  background-position: center;
  height: auto;
  padding: 0 9px 0 9px;
  width: 282px;
}
#body #content #sidebar .section .aside div div ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#body #content #sidebar .section .aside div div ul li
{
  background: url("../assets/bg-list-item.gif");
  background-position: center bottom;
  background-repeat: no-repeat;
  clear: both;
  height: 32px;
  line-height: 32px;
  width: 282px;
}
#body #content #sidebar .section .aside div div ul li a
{
  color: #7f7154;
  display: inline-block;
  float: left;
  font-family: "Trebuchet MS";
  font-size: 14px;
  margin: 0 0 0 10px;
  text-decoration: none;
  width: 210px;
}
#body #content #sidebar .section .aside div div ul li a:hover
{
  color: #e4a217;
}
#body #content #sidebar .section .aside div div ul li a.more
{
  color: #e4a217;
  float: left;
  text-align: right;
  width: 42px;
}
#body #content #sidebar .section .aside div div ul li a:hover.more
{
  color: #7f7154;
  text-align: right;
  width: 42px;
}
#body #content #sidebar .section ul.navigation
{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
#body #content #sidebar .section ul.navigation li.active
{
  background: url("../assets/menu.gif");
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  height: 30px;
  width: 140px;
}
#body #content #sidebar .section ul.navigation li
{
  background: url("../assets/menu.gif");
  background-position: 0 -80px;
  background-repeat: no-repeat;
  float: left;
  height: 30px;
  text-align: center;
  width: 140px;
}
#body #content #sidebar .section ul.navigation li a
{
  color: #000000;
  display: inline-block;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
#body #content #sidebar .section ul.navigation li a:hover
{
  color: #7F7154;
}
#body #content #sidebar .featured
{
  background-color: #ffffff;
  height: auto;
  overflow: hidden;
  width: 300px;
}
#body #content #sidebar .featured ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#body #content #sidebar .featured h2
{
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 28px;
  font-weight: normal;
  margin: 60px 0 0 0;
}
#body #content #sidebar .featured ul li
{
  background: url("../assets/shadow.gif");
  background-position: bottom center;
  background-repeat: no-repeat;
  clear: both;
  height: 170px;
  margin: 10px 0;
  overflow: visible;
  width: 300px;
}
#body #content #sidebar .featured ul li h2
{
  margin: 0 0 -10px 0;
  padding: 0;
}
#body #content #sidebar .featured ul li h2 a
{
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: bold;
}
#body #content #sidebar .featured ul li h2 a:hover
{
  color: #7F7154;
}
#body #content #sidebar .featured ul li img
{
  border: 0;
  float: left;
}
#body #content #sidebar .featured ul li a
{
  text-decoration: none;
}
#body #content #sidebar .featured ul li p
{
  color: #7F7154;
  font-family: "Trebuchet MS";
  font-size: 14px;
  line-height: 25px;
}
#body #content #sidebar .featured ul li p a
{
  color: #000000;
}
#body #content #sidebar .featured ul li p a:hover
{
  color: #7F7154;
}
#body #content #sidebar .featured ul li.last
{
  background-image: none;
}
#body #content #sidebar .featured ul li p a.more
{
  color: #FF9506;
}
#body #content #sidebar .featured ul li p a.more:hover
{
  color: #7F7154;
}
#body #content #sidebar .connect
{
  width: 300px;
}
#body #content #sidebar .connect h2
{
  color: #ff9e01;
  font-family: "Trebuchet MS";
  font-size: 28px;
  font-style: Italic;
  font-weight: normal;
  margin: 80px 0 0 0;
  padding: 0;
}
#body #content #sidebar .connect ul
{
  list-style-type: none;
  margin: 0;
}
#body #content #sidebar .connect ul li
{
  background: url("../assets/top-border-short.gif");
  background-position: 10px bottom;
  background-repeat: no-repeat;
  clear: both;
  height: 70px;
}
#body #content #sidebar .connect ul li a
{
  color: #93898a;
  display: block;
  line-height: 70px;
  padding-left: 70px;
  text-decoration: none;
}
#body #content #sidebar .connect ul li a.facebook
{
  background: url("../assets/icons.gif");
  background-position: 0 -174px;
  background-repeat: no-repeat;
}
#body #content #sidebar .connect ul li a.facebook:hover
{
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#body #content #sidebar .connect ul li a.subscribe
{
  background: url("../assets/icons.gif");
  background-position: 0 -428px;
  background-repeat: no-repeat;
}
#body #content #sidebar .connect ul li a.subscribe:hover
{
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#body #content #sidebar .connect ul li a.twitter
{
  background: url("../assets/icons.gif");
  background-position: 0 -588px;
  background-repeat: no-repeat;
}
#body #content #sidebar .connect ul li a.twitter:hover
{
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#body #content #sidebar .connect ul li a.flicker
{
  background: url("../assets/icons.gif");
  background-position: 0 -268px;
  background-repeat: no-repeat;
}
#body #content #sidebar .connect ul li a.flicker:hover
{
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#body .featured
{
  background-color: #f8f3e9;
  background-image: none;
  height: 90px;
  overflow: hidden;
  padding: 20px 0;
}
#body .featured ul
{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}
#body .featured ul li
{
  float: left;
  height: 90px;
  margin-right: 30px;
}
#body .featured ul li.last
{
  margin-right: 0;
}
#body .featured ul li a
{
  text-decoration: none;
}
#body .featured ul li a
{
  text-decoration: none;
}
#body .featured ul li a img
{
  border: 0;
}
#footer_layout
{
  background-color: #603912;
  background-image: none;
}
#footer_layout .section_footer
{
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1050px;
}
#footer_layout .section_footer ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer_layout .section_footer ul li
{
  float: left;
  height: 60px;
  width: 160px;
  text-align:center;
}
#footer_layout .section ul li img
{
  position: absolute;
  top: 0;
}
#footer_layout .section_footer ul li h2
{
  left: 0;
  margin: 20px 0 -15px 0;
  padding: 0 0px 0 0px;
  position: relative;
  z-index: 10;
}
#footer_layout .section_footer ul li h2 a
{
  color: #0175BC;
  font-family: "Trebuchet MS", Arial;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
#footer_layout .section_footer ul li p
{
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px 0 15px;
  position: relative;
  top: 60px;
  z-index: 10;
}
#footer_layout .section_footer ul li p a
{
  color: #ffffff;
}
#footer_layout .section_footer ul li p a:hover
{
  color: #ff6700;
}
#footer_layout .section_footer ul li p a.more
{
  color: #ff6700;
}
#footer_layout .section_footer ul li p a.more:hover
{
  color: #ffffff;
}
#footer_layout #footnote
{
  background-color: #C89305;
}
#footer_layout #footnote .section_footer
{
  font-family: "Trebuchet MS";
  font-size: 13px;
  height: 50px;
  line-height: 66px;
  text-align: center;
  width: 960px;
}
#footer_layout #footnote .section_footer a
{
  color: #000000;
  text-decoration: none;
}
#footer_layout #footnote .section_footer a:hover
{
  color: #ffffff;
}

.logo_footer{
  width:102px;
  height:12px;
}
.logo_LHF{
  width:226px;
  height:45px;
  margin-left: 20px;
  margin-right: 7px;
}

// SLider 

#body #content #sidebar div#section #slidercontainer {
  width: 200px;
  margin: 0 auto;
  height: 210px;
  padding-top: 0px;
}

/* rotator in-page placement */
#body #content #sidebar div#section #slidercontainer div.rotator {
  position:relative;
  height:200px;
}
/* rotator css */

#body #content #sidebar div#section #slidercontainer div.rotator ul{
  padding: 0;
  margin: 0;
}
#body #content #sidebar div#section #slidercontainer div.rotator ul li {
  float:left;
  position:absolute;
  list-style: none;
}
/* rotator image style */ 
#body #content #sidebar div#section #slidercontainer div.rotator ul li img {
  border:1px solid #ccc;
  padding: 4px;
  background: #FFF;
  height:200px;
  width: 180px;
}

#body #content #sidebar div#section #slidercontainer div.rotator ul li.show {
  z-index:500;
}


.img_fixed img{
  
  padding: 4px;
  background: #FFF;
  height:200px;
  width: 180px;
}

// End SLider 


// Snapshots
#body #content .snapshot_container
{
  width: 170px;
  height: 215px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom:10px;
  text-align: center;
}

#body #content .snapshot_container .nonprofit_name
{
  color: #7F7154;
  font-family: "Trebuchet MS";
  font-size: 13px;
  text-decoration: none;
}


// End snapshots



//General styles
#content{
  input, select {
      padding: 4px 10px 7px;
      border: 1px solid #C9D0D6;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
}
//End general


#simplemodal-overlay{
  background-color: black;
  opacity: 0.2;
}

.important{
  margin-bottom: 10px;
}

#about{
  margin-bottom: 20px;
}


#sign_in_button {
  width:100px;
  margin: 0 auto;
  float:right;
  margin-top:15px;
}


#registration{

  border-collapse: separate;
  border-spacing: 0;
 
  td{
     font-family: "Trebuchet MS";
     font-size:15px;
     color:#DB7F0A;
  }
}

#registration input{
  width: 250px; 
}

//registration_form
.new_user{ 
  margin-bottom:18px; 
  width: 500px;
  margin-top: 20px;
}

.forgot_password{
 color:gray; 
 font-size:14px;
 text-decoration: none;
 
}

.registration_h2{
 margin-bottom: 1.25em;
 color:#DB7F0A;
 font-size: 2em;
}

.selectnp{
  label {
    color:#DB7F0A;
    font-size: 1.3em;
    margin-right: 10px;
  }
  select {
    margin-right: 20px;
  }
  
  a{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
}

