#overview{
 
 p{
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 15px;
}


.alignright{
 float:right; 
}

.alignright_pc{
 height: 260px; 
 margin-left: 25px;
 float: right;
}

.alignleft{
  float:left;
  margin: 15px 15px 0 0;
}

.tableheadimg{
  margin: 15px 15px 10px 10px;
  width: 100px;
}
.tableheadtxt{
  width: 650px;
  vertical-align: top;
  margin-top: 0px;
  padding-top: 0px;
}

.text{
 display: inline-block;
 margin-top: 30px;
  
}

  
}
