#overview{
 
 p{
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 12px;
}


.alignright{
 float:right; 
}

.alignright_pc{
 height: 220px; 
}

.alignleft{
  float:left;
  margin: 15px 15px 0 0;
}

.alignleft_head{
  float:left;
  margin: 15px 15px 0 0;
  width: 75px;
}

.text{
 display: inline-block;
 margin-top: 30px;
  
}

  
}
